@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --dark-blue: #2D4366;
  --darker-blue: #192C4A;
  --blue: #114ecf;
  --blue2: #2453AF;
  --gray: #737373;
  --black: #333333;
  --red: #c35151;
  --orange: #f8af5e;
  --border: #D6D6D6;
  --table-head: #E1E8F5;
  --evenly-bg: #F8F8FB;
}

/* === Banners === */
.banners-top {
  border: 1px solid red;
  height: 102px;
  margin-bottom: 20px;
}

.banners-aside {
  max-width: 200px !important;
  width: 100%;
  border: 1px solid red;
  overflow: hidden
}
/* =============== */

.breadcrumb li:first-child {
  margin-left: 0;
}

.breadcrumb li::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -4px;
  display: block;
  transform-origin: 5px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-132deg);
}

.breadcrumb li {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
  margin-left: 33px;
}

.breadcrumb .active {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--darker-blue);
}

.breadcrumb .active::after {
  display: none;
}

.mainContainer {
  display: flex;
}

.mainContent {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 10px;
}

.clr-blue {
  color: #192C4A;
}

.indexWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.indexWrapper a {
  width: fit-content;
}

.light-blue {
  color: var(--blue);
}

.h5 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: var(--dark-blue);
}

.indexWrapper a:hover {
  color: var(--blue);
}

*, *::before, *::after {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

table, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0px;
  border-style: none;
}

tbody tr:nth-child(2n) {
  background-color: var(--evenly-bg);
}

.row-td {
  display: flex;
  align-items: center;
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-27 {
  margin-top: 27px;
}

.mt-30 {
  margin-top: 30px;
}

.blue {
  color: var(--blue);
}

.tableHead {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-color: var(--table-head);
}

.th {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--dark-blue);
  letter-spacing: .4;
  border-right: 1px solid var(--border);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: var(--table-head);
}

.th:last-child {
  border-right: none;
}

.td:first-child {
  border-left: 1px solid var(--border);
}

.td {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}

.left-td {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.arrowLink {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--blue2);
  position: relative;
}

.arrowLink::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -4px;
  display: block;
  transform-origin: 5px;
  border-left: 2px solid var(--blue2);
  border-bottom: 2px solid var(--blue2);
  transform: rotate(-132deg);
  transition: .3s;
}

.arrowLink:hover::after {
  right: -20px;
}

.desc_p {
  font-size: 16px;
  line-height: 20px;
  color: var(--black);  
  margin: 0;
}

.h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--dark-blue);
  margin-top: 15px;
  margin-bottom: 21px;
}

.h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: var(--dark-blue);
  margin-top: 9px;
}

.h2 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--dark-blue);
  margin: 0;
}

.otherLinksDiv {
  margin-top: 50px;
}

.otherLink {
  font-size: 14px;
  line-height: 24px;
  color: var(--blue);
  position: relative;
  margin: 0;
}

.otherLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  margin-left: 16px;
  margin-top: 20px;
}

.h4 {
  font-size: 16px;
  line-height: 20px;
}

.otherLink {
  margin: 0;
}

.otherLink a {
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
  position: relative;
}

.otherLink a::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--orange);
}

.otherLink a:hover {
  text-decoration: underline;
}

.tableDescDiv {
  margin-top: 30px;
}

.container {
  display: block;
  padding-bottom: 80px;
}

.miniContainer {
  display: none;
}

.update_time {
  font-size: 16px;
  line-height: 16px;
  color: var(--gray);
  font-weight: 500;
}

.desc_bigger {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  margin-top: 28px;
}

.column-td {
  display: flex;
  flex-direction: column;
}

table p {
  margin: 0;
}

.column-td a {
  color: var(--blue);
}

.red {
  color: var(--red);
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

@media (max-width: 1200px) {
  .otherLinksDiv {
    margin-top: 20px;
  }
  .otherLinks {
    gap: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  .container {
    overflow-x: scroll;
  }
  .mainContainer {
    flex-direction: column;
    gap: 12px;
  }
  .miniContainer {
    display: block;
    padding: 0 20px 30px 20px;
  }
  .h1 {
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 500;
    margin: 12px 0;
  }
  .h3 {
    margin-top: 15px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.4px;
  }
  .desc_p {
    font-size: 14px;
    line-height: 20px;
  }
  .h2 {
    font-size: 16px;
    line-height: 20px;
  }
  .otherLink a {
    font-size: 14px;
    line-height: 24px;
  }
}
