@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --dark-blue: #2D4366;
  --darker-blue: #192C4A;
  --blue: #114ecf;
  --blue2: #2453AF;
  --gray: #737373;
  --black: #333333;
  --red: #c35151;
  --orange: #f8af5e;
  --border: #D6D6D6;
  --table-head: #E1E8F5;
  --evenly-bg: #F8F8FB;
}

/* === Banners === */
.banners-top {
  height: 102px;
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.banners-aside {
  max-width: 200px !important;
  width: 100%;
  /* border: 1px solid red; */
}
/* =============== */

.breadcrumb li:first-child {
  margin-left: 0;
}

.breadcrumb li::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -4px;
  display: block;
  transform-origin: 5px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(-132deg);
}

.breadcrumb li {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
  margin-left: 33px;
}

.breadcrumb .active {
  position: relative;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--darker-blue);
}

.breadcrumb .active::after {
  display: none;
}

.mainContainer {
  display: flex;
}

.mainContent {
  flex: 1 1 auto;
  width: 100%;
  padding: 0 10px;
}

.link-blue {
  color: #192C4A !important;
}

.dark-blue {
  color: var(--dark-blue) !important;
}

.indexWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.indexWrapper a {
  width: fit-content;
}

.light-blue {
  color: var(--blue);
}

.indexWrapper a:hover {
  color: var(--blue);
}

*, *::before, *::after {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none !important;
  color: currentColor;
}

table, tr, th, td {
  border-collapse: collapse;
  border-spacing: 0px;
  border-style: none;
}

tbody {
  border-top: 1px solid var(--border) !important;
}

tbody tr:nth-child(2n) {
  background-color: var(--evenly-bg) !important;
}

.row-td {
  display: flex;
  align-items: center;
}

.gap-4 {
  gap: 4px !important;
}

.gap-8 {
  gap: 8px !important;
}

.gap-10 {
  gap: 10px !important;
}

.gap-12 {
  gap: 12px !important;
}

.gap-16 {
  gap: 16px !important;
}

.gap-20 {
  gap: 20px !important;
}

.gap-30 {
  gap: 30px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-27 {
  margin-top: 27px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

/* === MODAL === */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scroll_lock {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 2;
  animation: fadeIn .5s ease;
}

.modalLinkDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 14px 16px;
  background-color: #EBECEF;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
  box-shadow: 0 4px 8px rgba(97, 97, 97, .3);
  transition: .3s;
}

.modalLinkText {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  font-weight: 500;
  color: var(--dark-blue);
}

.modalLinkDiv:active, .modal_xBtn:active {
  transform: scale(.95);
  transition: .3s;
}

.modal_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 20px;
}

.modal_head_title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: var(--dark-blue);
}

.modal_xBtn {
  width: 20px;
  height: 20px;
  color: var(--dark-blue);
  transition: .3s;
}

.modal_body {
  display: flex;
  flex-direction: column;
}

.modal_body_element {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: .4px;
  color: var(--dark-blue);
  border-bottom: 1px solid var(--border);
  padding: 15px 20px;
}

.modal_body_element:last-child {
  border-bottom: none;
}

/* =========== */

.blue {
  color: var(--blue) !important;
}

.tableHead {
  border-radius: 10px 10px 0 0 !important;
  overflow: hidden !important;
  background-color: var(--table-head) !important;
}

.th {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: var(--dark-blue);
  border-right: 1px solid var(--border);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: var(--table-head);
  min-height: 75px;
  height: 100% ;
}

.th:last-child {
  border-right: none;
}

.td:first-child {
  border-left: 1px solid var(--border);
}

.td {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
  min-height: 54px;
  height: 100%;
}

.left-td {
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.arrowLink {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: var(--blue2);
  position: relative;
}

.arrowLink::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: -15px;
  margin-top: -4px;
  display: block;
  transform-origin: 5px;
  border-left: 2px solid var(--blue2);
  border-bottom: 2px solid var(--blue2);
  transform: rotate(-132deg);
  transition: .3s;
}

.arrowLink:hover::after {
  right: -20px;
}

.desc_p {
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--black) !important;   
  margin: 0 !important;
}

.h1 {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 500 !important;
  color: var(--dark-blue) !important;
  margin-top: 15px !important;
  margin-bottom: 21px !important;
}

.h2 {
  font-size: 20px !important;
  line-height: 20px !important;
  font-weight: 500 !important;
  color: var(--dark-blue) !important;
  margin: 0 !important;
}

.h3 {
  font-size: 20px !important;
  line-height: 30px !important;
  font-weight: 500 !important;
  color: var(--dark-blue) !important;
  margin: 0 !important;
}

.h4 {
  font-size: 16px !important;
  line-height: 20px !important;
}

.h5 {
  font-size: 18px !important;
  line-height: 27px !important;
  font-weight: 500 !important;
  color: var(--dark-blue) !important;
  margin: 0 !important;
}

.otherLinksDiv {
  margin-top: 50px;
}

.otherLinks {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style-type: none;
  margin-left: 16px;
  margin-top: 20px;
}

.otherLink {
  margin: 0;
}

.otherLink a {
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--blue) !important;
  position: relative !important;
}

.otherLink a::before {
  content: "";
  position: absolute;
  top: 35%;
  left: -15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--orange);
}

.otherLink a:hover {
  text-decoration: underline !important;
}

.tableDescDiv {
  margin-top: 30px !important;
}

.staticContainer {
  /* max-width: 1500px !important;
  width: 100% !important;
  margin: 0 auto !important;
  display: block; */
  padding-bottom: 80px !important;
  padding-inline: 20px;
}

.update_time {
  font-size: 16px !important;
  line-height: 16px !important;
  color: var(--gray) !important;
  font-weight: 500 !important;
}

.desc_bigger {
  font-size: 16px !important;
  line-height: 24px !important;
  color: var(--black) !important;
  margin-top: 28px;
}

.column-td {
  display: flex;
  flex-direction: column;
}

table p {
  margin: 0;
}

.column-td a {
  color: var(--blue) !important;
  text-decoration: none !important;
}

.column-td a:hover {
  color: var(--blue) !important;
  text-decoration: underline !important;
}

.red {
  color: var(--red) !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

@media (max-width: 1200px) {
  .otherLinksDiv {
    margin-top: 20px;
  }
  .otherLinks {
    gap: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .overflow_scroll {
    overflow-x: scroll;
  }
  .staticContainer {
    overflow-x: scroll;
  }
  .miniContainer {
    display: block;
    padding: 0 20px 30px 20px;
  }
  .h1 {
    font-size: 22px !important;
    line-height: 30.8px !important;
    font-weight: 500 !important;
    margin: 12px 0 !important;
  }
  .h2 {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .h3 {
    margin-top: 15px;
    font-size: 18px !important;
    line-height: 27px !important;
  }
  .h5 {
    font-size: 14px !important;
    line-height: 24px !important;
    color: var(--dark-blue) !important;
  }
  .desc_p {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .otherLink a {
    font-size: 14px !important;
    line-height: 24px !important;
  }
  .td, .th {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 360px) {
  .breadcrumb {
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .breadcrumb li {
    margin-left: 16px;
  }
  .breadcrumb li::after {
    right: -5px;
  }
}
