.h1, p {
  margin: 0 !important;
}

.tableHead {
  display: block;
}

.abiturent_table {
  min-width: 800px;
  overflow-x: scroll;
}

.abiturent_tableRow {
  display: grid;
  grid-template-columns: 12% 76% 12%;
}

.pl-16 { 
  padding-left: 16px;
}

.fl::first-letter {
  padding-left: 16px;
}

.bold_td {
  font-weight: 700 !important;
  color: var(--dark-blue) !important;
  letter-spacing: .4px !important;
}

.youtube_btn {
  width: 62px;
  height: 43px;
  cursor: pointer;
}

.videoDiv {
  position: relative;
  aspect-ratio: 16/9;
}

.video_mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 0;
}

.rowFlex {
  display: flex;
  gap: 12px;
}

.red_title {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--red) !important;
  width: 100%;
}

.mini_ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 32px;
}

.gray_text {
  color: #969494 !important;
}