.h1, p {
  margin: 0 !important;
}
.sovetDiv {
  background-color: var(--evenly-bg);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  gap: 12px;
  padding: 20px;
}
.sovetDiv .desc_p {
  width: 100%;
}
.checkmark {
  width: 24px;
  height: 24px;
}
.grid2 {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.inner_data {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-right: 1px solid var(--border);
  padding: 8px;
  font-size: 14px !important;
  line-height: 20px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border_none {
  border-right: none !important;
}
.postal_table th:last-child div:last-child {
  border-top: 1px solid var(--border);
}
.postal_table tr {
  display: grid;
  grid-template-columns: 25% 35% 40%;
  max-width: 100%;
  width: 100%;
}

.postal_table th:last-child, .postal_table td:last-child {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.postal_table th:last-child div:last-child, .postal_table td:last-child div:last-child {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  width: 100%;
}

.postal_table th:last-child div:last-child span, .postal_table td:last-child div:last-child span {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.table_title {
  padding: 20px;
}
th, td {
  min-height: 45px !important;
}
.postal_table {
  min-width: 600px;
  overflow-x: scroll;
}