.update_time, .h1 {
  margin: 0;
}
.h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-blue);
  margin: 0;
}
.extraDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.extraDiv .desc_p {
  margin: 0;
}
.mainBlock {
  margin-top: 30px;
}
.postalCodesTable tr {
  display: grid;
  grid-template-columns: 19% 27% 27% 27%;
}

.postalCodesTable thead tr th:last-child {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.postalCodesTable thead tr th:last-child div:last-child,
.postalCodesTable tbody tr td:last-child {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.postalCodesTable thead tr th:last-child div:last-child span,
.postalCodesTable tbody tr td:last-child span {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postalCodesTable thead tr th:last-child div:last-child span:last-child,
.postalCodesTable tbody tr td:last-child span:last-child {
  border-left: 1px solid var(--border);
}

.postalCodesTable tbody tr td:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.postalCodesTable tbody tr td:nth-child(3) div:last-child {
  display: flex;
  flex-direction: column;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}
.gridTh {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--border);
  text-align: center;
  height: 100%;
  padding: 4px;
}
.gridTh:last-child {
  border-right: none;
}
.th:last-child, .td:last-child {
  padding: 0;
}
.td .gridTh {
  padding: 10px;
}
.topTh {
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding: 5px;
}
.mainMiniContainer {
  overflow-x: scroll;
}
.postalCodesTable {
  min-width: 800px;
  overflow-x: scroll;
}
.tableDescDiv {
  margin-top: 15px;
}