h1, p {
  margin: 0 !important;
}

#gp_map {
  height: 400px !important;
}

.codesImage {
  position: relative;
  width: 100%;
  height: 210px;
}

.codesImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.searchDiv {
  width: 46px;
  height: 46px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  overflow: hidden;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.searchDiv:active {
  transform: scale(.95);
  transition: .3s;
}

.searchBtn {
  width: 24px;
  height: 24px;
  color: #fff;
}

.imageModal_image {
  height: 400px;
}

.metro_line {
  background-color: #F8F8FB;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.metro_line_title {
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.keyValueDiv {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.key {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--dark-blue);
}

.value {
  font-size: 14px;
  line-height: 21px;
  color: var(--black);
}

.wrapDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrapLink {
  font-size: 12px;
  line-height: 16px;
  color: var(--dark-blue);
  display: inline-block;
  padding: 10px 20px;
  border: 1px dashed var(--dark-blue);
  border-radius: 8px;
  min-width: 160px;
  text-align: center;
}

.w-full {
  width: 100%;
}

.gridContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 30px;
}

.gridContainer_img {
  position: relative;
  width: 100%;
  height: 210px;
}

.gridContainer_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

li {
  font-size: 14px;
  line-height: 24px;
}

.videoDiv {
  position: relative;
  max-width: 700px;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
}

.videoMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  cursor: pointer;
}

.playBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .7);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrowDown {
  width: 16px !important;
  height: 16px !important;
  color: var(--dark-blue);
  transition: .3s;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.accordion-item {
  background-color: #F8F8FB !important;
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden !important;
}

.accordion-button .arrowDown {
  transform: rotate(180deg);
}

.accordion-button.collapsed .arrowDown {
  transform: rotate(0deg);
  transition: .3s;
}

.accordion-button:not(.collapsed), .accordion_btn_text {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: var(--dark-blue);
  background: none;
  box-shadow: none !important;
  width: 100%;
}

.accordion-body {
  padding: 0 15px 20px 15px;
}

.accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #F8F8FB;
}

.accordion-button {
  padding: 15px !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-end !important;
  gap: 16px !important;
  border-radius: 0 !important;
  background-color: #F8F8FB !important;
}

.accordion-button::after {
  display: none;
}