h1, p {
  margin: 0 !important;
}

table {
  max-width: 100%;
  width: 100%;
}

.tables_grid_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 20px;
  max-width: 100%;
  width: 100%;
}

.region_table thead tr:first-child {
  border-radius: 10px 10px 0 0 !important;
  overflow: hidden;
  display: block;
}

.region_table thead tr:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px;
  background-color: var(--evenly-bg) !important;
}

.region_table thead tr:nth-child(2) td {
  border: none !important;
  padding: 0 !important;
  max-width: 100%;
  width: 100%;
  min-height: auto !important;
}

.region_table thead tr:nth-child(3) {
  display: grid;
  grid-template-columns: 50% 50%;
}

.region_table tbody tr {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 100%;
  width: 100%;
}

.region_table tbody tr:last-child {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  border: 1px solid var(--border);
  border-top: none;
  gap: 8px;
  padding: 12px;
}

.region_table tbody tr:last-child td {
  border: none !important;
  max-width: 100%;
  width: 100%;
  padding: 0 !important;
  min-height: auto !important;
}

.last_region_table thead tr:nth-child(1) {
  border-radius: 10px 10px 0 0 !important;
  overflow: hidden;
  display: block;
}

.last_region_table thead tr:nth-child(2) {
  background-color: var(--evenly-bg);
}

.last_region_table thead tr:nth-child(2) td {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--dark-blue) !important;
  border: none !important;
}

.last_region_table tbody tr {
  display: grid;
  grid-template-columns: 15% 85%;
}

.gray_text {
  color: var(--gray) !important;
}

.codesImage {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid var(--border);
}

.codesImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.searchDiv {
  width: 46px;
  height: 46px;
  background-color: var(--dark-blue);
  border-radius: 50%;
  overflow: hidden;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.searchDiv:active {
  transform: scale(.95);
  transition: .3s;
}

.searchBtn {
  width: 24px;
  height: 24px;
  color: #fff;
}