.embassiesTable tr {
  display: grid;
  grid-template-columns: 4% 15% 7% 10% 9% 15% 14% 26%;
}

.istochnikDiv {
  display: flex;
  gap: 4px;
  margin-bottom: 13px;
}

.istochnikDiv .desc_p {
  margin: 0;
}

.istochnikDiv .desc_p a {
  color: var(--blue);
}

.istochnikDiv .desc_p a:hover, td a:hover {
  text-decoration: underline;
}

.gap-8 {
  gap: 8px;
}

@media (max-width: 1200px) {
  .embassiesTable {
    min-width: 1400px;
    overflow-x: scroll;
  }
  .mainContent {
    overflow-x: scroll;
  }
}