.embassiesTableRow {
  display: grid;
  /* grid-template-columns: 4fr 12fr 8fr 8fr 8fr 10fr 10fr 10fr; */
  grid-template-columns: 10% 25% 10% 10% 10% 10% 10% 25%;
}

.istochnikDiv {
  display: flex;
  gap: 4px;
  margin-bottom: 13px;
}

.istochnikDiv .desc_p {
  margin: 0;
}

.istochnikDiv .desc_p a {
  color: var(--blue);
}

.istochnikDiv .desc_p a:hover, .td a:hover {
  text-decoration: underline;
}

.gap-8 {
  gap: 8px;
}

@media (max-width: 992px) {
  .embassiesTable {
    min-width: 1200px;
    overflow-x: scroll;
  }
  .mainContent {
    overflow-x: scroll;
  }
}