.first-aid-tableRow {
  display: grid;
  grid-template-columns: .7fr 1fr 1fr;
}

@media (max-width: 992px) {
  .mainContent {
    overflow-x: scroll;
  }
  .first-aid-table {
    min-width: 540px;
    overflow-x: scroll;
  }
}