.extraDiv {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.minih2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: var(--black);
}

.tablesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 30px;
}

.phoneCodeTable tbody tr {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media (max-width: 992px) {
  .mainContent, .mainBlock {
    overflow-x: scroll;
  }
  .tablesGrid {
    min-width: 720px;
    overflow-x: scroll;
  }
}
