<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Архив цен на бензин на заправках Ташкента: декабрь 2021 - 2007 гг</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/archive_petrol_prices-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Архив цен на бензин на заправках Ташкента: декабрь 2021 - 2007 гг</h1>
      </div>
      <!-- === Main content starts here! === -->
      <div class="mainMiniContainer mt-15">
        <div class="column-td">
          <a href="#">Посмотреть актуальные (текущие) цены на бензин >>></a>
        </div>
        <div class="column-td gap-20 mt-20">
          <h2 class="h2">Стоимость бензина в Ташкенте, Узбекистан по состоянию на 06 декабря 2021 г.: сум за 1 литр*</h2>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                  <span class="accordion_btn_text">Сеть UNG (Uzbekneftegaz, Uzgazoil)</span>
                  <svg class="arrowDown" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.00244 7.00598C1.00193 7.2139 1.04253 7.41987 1.1219 7.61205C1.20128 7.80422 1.31787 7.97881 1.46496 8.12576L10.8785 17.5368C11.1752 17.8334 11.5775 18 11.997 18C12.4166 18 12.8189 17.8334 13.1156 17.5368L22.4902 8.16228C22.6469 8.01782 22.7728 7.84319 22.8603 7.64887C22.9479 7.45455 22.9953 7.24455 22.9997 7.03146C23.0041 6.81838 22.9653 6.6066 22.8859 6.40885C22.8064 6.21109 22.6878 6.03142 22.5372 5.88064C22.3865 5.72985 22.207 5.61104 22.0093 5.53135C21.8117 5.45166 21.5999 5.41272 21.3868 5.41688C21.1737 5.42104 20.9637 5.4682 20.7693 5.55554C20.5749 5.64288 20.4001 5.76859 20.2555 5.92514L11.9983 14.1799L3.7021 5.88619C3.4808 5.66453 3.19869 5.51353 2.89151 5.45232C2.58433 5.39111 2.26589 5.42245 1.97653 5.54237C1.68718 5.66228 1.43992 5.86537 1.26608 6.12592C1.09224 6.38647 0.999635 6.69276 1 7.00598L1.00244 7.00598Z" fill="currentColor"/>
                  </svg>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body grid4">
                  <div class="keyValueDiv">
                    <span class="key">АИ-80</span>
                    <span class="value">6 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-92</span>
                    <span class="value">46 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-95</span>
                    <span class="value">16 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">Дизель</span>
                    <span class="value">26 500</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <span class="accordion_btn_text">Сеть UNG (Uzbekneftegaz, Uzgazoil)</span>
                  <svg class="arrowDown" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.00244 7.00598C1.00193 7.2139 1.04253 7.41987 1.1219 7.61205C1.20128 7.80422 1.31787 7.97881 1.46496 8.12576L10.8785 17.5368C11.1752 17.8334 11.5775 18 11.997 18C12.4166 18 12.8189 17.8334 13.1156 17.5368L22.4902 8.16228C22.6469 8.01782 22.7728 7.84319 22.8603 7.64887C22.9479 7.45455 22.9953 7.24455 22.9997 7.03146C23.0041 6.81838 22.9653 6.6066 22.8859 6.40885C22.8064 6.21109 22.6878 6.03142 22.5372 5.88064C22.3865 5.72985 22.207 5.61104 22.0093 5.53135C21.8117 5.45166 21.5999 5.41272 21.3868 5.41688C21.1737 5.42104 20.9637 5.4682 20.7693 5.55554C20.5749 5.64288 20.4001 5.76859 20.2555 5.92514L11.9983 14.1799L3.7021 5.88619C3.4808 5.66453 3.19869 5.51353 2.89151 5.45232C2.58433 5.39111 2.26589 5.42245 1.97653 5.54237C1.68718 5.66228 1.43992 5.86537 1.26608 6.12592C1.09224 6.38647 0.999635 6.69276 1 7.00598L1.00244 7.00598Z" fill="currentColor"/>
                  </svg>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body grid4">
                  <div class="keyValueDiv">
                    <span class="key">АИ-80</span>
                    <span class="value">6 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-92</span>
                    <span class="value">46 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-95</span>
                    <span class="value">16 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">Дизель</span>
                    <span class="value">26 500</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-td mt-20 gap-20">
          <div class="column-td">
            <p class="desc_p">* Информация собрана посредством информационных табло на самих заправках и отзывами пользователей в соцсетях.</p>
          </div>
          <div class="column-td">
            <p class="desc_p">Для сравнения стоимость топлива в Узбекистане, Ташкент в долларах США по курсу ЦБ РУз (10 839.90сум за 1$) на 25 июня 2022 г. на примере цен UNG PETRO (Uzbekneftegaz)</p>
            <p class="desc_p">АИ-80 - 0,63 $</p>
            <p class="desc_p">АИ-92 - 0,87 $</p>
            <p class="desc_p">АИ-95 - 0,99 $</p>
          </div>
        </div>
        <div class="column-td mt-20 gap-20">
          <div class="stats_image">
            <img src="/mobile/img/stats_mobile.png" alt="stats image">
          </div>
          <div class="column-td">
            <p class="desc_p">84% предложения бензина марки АИ-80 на УЗРТСБ приходится на продукцию Бухарского НПЗ. (БНПЗ)</p>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <h2 class="h2">Стоимость бензина в Ташкенте, Узбекистан по состоянию на 06 декабря 2021 г.: сум за 1 литр*</h2>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true" aria-controls="panelsStayOpen-collapseThree">
                  <span class="accordion_btn_text">Сеть UNG (Uzbekneftegaz, Uzgazoil)</span>
                  <svg class="arrowDown" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.00244 7.00598C1.00193 7.2139 1.04253 7.41987 1.1219 7.61205C1.20128 7.80422 1.31787 7.97881 1.46496 8.12576L10.8785 17.5368C11.1752 17.8334 11.5775 18 11.997 18C12.4166 18 12.8189 17.8334 13.1156 17.5368L22.4902 8.16228C22.6469 8.01782 22.7728 7.84319 22.8603 7.64887C22.9479 7.45455 22.9953 7.24455 22.9997 7.03146C23.0041 6.81838 22.9653 6.6066 22.8859 6.40885C22.8064 6.21109 22.6878 6.03142 22.5372 5.88064C22.3865 5.72985 22.207 5.61104 22.0093 5.53135C21.8117 5.45166 21.5999 5.41272 21.3868 5.41688C21.1737 5.42104 20.9637 5.4682 20.7693 5.55554C20.5749 5.64288 20.4001 5.76859 20.2555 5.92514L11.9983 14.1799L3.7021 5.88619C3.4808 5.66453 3.19869 5.51353 2.89151 5.45232C2.58433 5.39111 2.26589 5.42245 1.97653 5.54237C1.68718 5.66228 1.43992 5.86537 1.26608 6.12592C1.09224 6.38647 0.999635 6.69276 1 7.00598L1.00244 7.00598Z" fill="currentColor"/>
                  </svg>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body grid4">
                  <div class="keyValueDiv">
                    <span class="key">АИ-80</span>
                    <span class="value">6 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-92</span>
                    <span class="value">46 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-95</span>
                    <span class="value">16 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">Дизель</span>
                    <span class="value">26 500</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  <span class="accordion_btn_text">Сеть UNG (Uzbekneftegaz, Uzgazoil)</span>
                  <svg class="arrowDown" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.00244 7.00598C1.00193 7.2139 1.04253 7.41987 1.1219 7.61205C1.20128 7.80422 1.31787 7.97881 1.46496 8.12576L10.8785 17.5368C11.1752 17.8334 11.5775 18 11.997 18C12.4166 18 12.8189 17.8334 13.1156 17.5368L22.4902 8.16228C22.6469 8.01782 22.7728 7.84319 22.8603 7.64887C22.9479 7.45455 22.9953 7.24455 22.9997 7.03146C23.0041 6.81838 22.9653 6.6066 22.8859 6.40885C22.8064 6.21109 22.6878 6.03142 22.5372 5.88064C22.3865 5.72985 22.207 5.61104 22.0093 5.53135C21.8117 5.45166 21.5999 5.41272 21.3868 5.41688C21.1737 5.42104 20.9637 5.4682 20.7693 5.55554C20.5749 5.64288 20.4001 5.76859 20.2555 5.92514L11.9983 14.1799L3.7021 5.88619C3.4808 5.66453 3.19869 5.51353 2.89151 5.45232C2.58433 5.39111 2.26589 5.42245 1.97653 5.54237C1.68718 5.66228 1.43992 5.86537 1.26608 6.12592C1.09224 6.38647 0.999635 6.69276 1 7.00598L1.00244 7.00598Z" fill="currentColor"/>
                  </svg>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                <div class="accordion-body grid4">
                  <div class="keyValueDiv">
                    <span class="key">АИ-80</span>
                    <span class="value">6 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-92</span>
                    <span class="value">46 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">АИ-95</span>
                    <span class="value">16 500</span>
                  </div>
                  <div class="keyValueDiv">
                    <span class="key">Дизель</span>
                    <span class="value">26 500</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-td mt-20 gap-20">
          <div class="column-td">
            <p class="desc_p">* Информация собрана посредством информационных табло на самих заправках и отзывами пользователей в соцсетях.</p>
          </div>
          <div class="column-td">
            <p class="desc_p">Для сравнения стоимость топлива в Узбекистане, Ташкент в долларах США по курсу ЦБ РУз (10 839.90сум за 1$) на 25 июня 2022 г. на примере цен UNG PETRO (Uzbekneftegaz)</p>
            <p class="desc_p">АИ-80 - 0,63 $</p>
            <p class="desc_p">АИ-92 - 0,87 $</p>
            <p class="desc_p">АИ-95 - 0,99 $</p>
          </div>
        </div>
        <div class="otherLinksDiv mt-20">
          <h2 class="h2">Основные сети бензиновых заправочных станций в Узбекистане:</h2>
          <div class="otherLinks">
            <p class="otherLink"><a href="#">Сеть бензиновых заправок Mustang</a></p>
            <p class="otherLink"><a href="#">Сеть бензиновых заправок Mustang</a></p>
            <p class="otherLink"><a href="#">Сеть бензиновых заправок Mustang</a></p>
            <p class="otherLink"><a href="#">Сеть бензиновых заправок Mustang</a></p>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <h2 class="h2">Почему растут и снижаются цены на бензин в Узбекистане:</h2>
          <div class="column-td gap-16">
            <p class="desc_p">5 декабря 2020 года, Министерство энергетики Узбекистана разъяснило, почему на разных автозаправочных станциях бензин отпускается по разным ценам, а импортный бензин может стоить дешевле, чем произведенный в Узбекистане, а также почему цены могут повышать и снижаться со временем.</p>
            <p class="desc_p">С учётом того, что с 1 мая т.г. хозяйствующие субъекты, в том числе АЗС (автозаправочные станции) покупают бензин через биржевые торги, цены на бензин на разных автозаправочных станциях могут быть различными, так как зависят от того, за сколько он приобретен каждой конкретной АЗС.</p>
            <p class="desc_p">Таким образом, ценообразование на бензин не зависит не от Министерства энергетики Узбекистана, ни от других государственных структур, а от стартовой цены производителя (конкретного нефтеперерабатывающего завода), предложения (сколько выставлено бензина на биржевые торги) и от спроса на него (сколько планируют купить покупатели).</p>
            <p class="desc_p">Ранее, до принятия постановления №ПП-4664 в Узбекистане было государственное регулирование розничных цен на различные марки бензина и дизельное топливо. С 1 мая, то есть более полугода с момента внедрения данного рыночного механизма, отечественные нефтеперерабатывающие заводы уже реализуют автомобильный бензин исключительно через биржевые торги.</p>
            <p class="desc_p">Через торги реализуется и партии импортного бензина, если таковой завозится в Узбекистан, и он действительно может быть выставлен на торги с более низкой ценой. И АЗС смогут продавать такой бензин, пока объем этой партии не закончится. В данном случае речь идет о разовых поставках и конкретных договоренностях поставщика импортного бензина для каждой отдельной партии. Это и есть свидетельство рыночных отношений, когда только биржа покажет какой бензин и по какой цене будет реализован тем же АЗС.</p>
            <p class="desc_p">Таким образом, Рыночный механизм реализации бензина и дизтоплива позволяет и нефтеперерабатывающим заводам, и АЗС работать в условиях здоровой конкуренции. Как уже было отмечено, сейчас повышение или понижение цен на бензин зависят от конкретного спроса и предложения. В частности, сразу после введении рыночного механизма, уже 3 мая торги, проведенные на АО «Узбекская республиканская товарно-сырьевая биржа» показали снижение цены бензина, выставленного на продажу.</p>
            <p class="desc_p">В биржевых торгах принимают участие нефтебазы АО «Узбекнефтегаз», автозаправочные станции и другие юридические лица, приобретающие автобензин для собственных нужд. Торги проводятся свободно, прозрачно и с обеспечением равного доступа для всех категорий покупателей.</p>
            <p class="desc_p">Внедрение рыночного механизма реализации бензина усилило прозрачность этого процесса.</p>
            <p class="desc_p">Так, биржевые котировки или средневзвешенные цены на товарные ресурсы, реализуемые через биржевые торги определяются на еженедельной основе и публикуются на официальном вебсайте АО «УзРТСБ» www.uzex.uz каждый понедельник до 17:00.</p>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <h2 class="h2">Государственные цены на бензин: (до 1 мая 2020 г.)</h2>
          <div class="column-td gap-16">
            <div class="column-td">
              <p class="desc_p">Это цены были установленные Кабинетом Министров РУз для розничной продажи на территории РУз через сеть автозаправок, как государственных так и частных. На момент фиксированных цен (до 1 мая 2020) стоимость бензина:</p>
            </div>
            <div class="column-td">
              <p class="desc_p">АИ-80 – 4 500 сум. </p>
              <p class="desc_p">АИ-91 – 5 800* сум. (примерно). С 13 апреля 2020 - 5 600 сум</p>
              <p class="desc_p">Дизельное топливо ЭКО – 5 700 сум.</p>
            </div>
            <div class="column-td">
              <p class="desc_p">* Начиная с 15 августа 2019 года цена на бензин марки АИ-91 больше не является фиксированной, она будет определяться через биржевые торги. 5 700 по состоянию на 13.01.20 на заправках Узбекфетегаза. 5 900 на частных заправках</p>
              <p class="desc_p">* Начиная с 1 мая 2020 года цена на бензин марки АИ-80 и дизельное топливо (в том числе и ЭКО) больше не будет фиксированной, она будет определяться через биржевые торги. В среднем 4 900 - 5 000 сум по состоянию на 10.12.20 на заправках Узбекфетегаза.</p>
            </div>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <h2 class="h2">Динамика изменений государственных цен на бензин в Узбекистане по годам: сум за 1 литр</h2>
          <div class="overflow_scroll">
            <table class="petrol_price_table">
              <thead>
                <tr class="petrol_price_tableRow tableHead">
                  <th class="th">Название заправки (сети заправок)</th>
                  <th class="th">АИ-80</th>
                  <th class="th">АИ-92</th>
                  <th class="th">АИ-95</th>
                  <th class="th">АИ-100</th>
                  <th class="th">Дизель</th>
                </tr>
              </thead>
              <tbody>
                <tr class="petrol_price_tableRow">
                  <td class="td">Сеть UNG (Uzbekneftegaz, Uzgazoil)</td>
                  <td class="td">6 500</td>
                  <td class="td">9 100</td>
                  <td class="td">10 000</td>
                  <td class="td column-td">
                    <span class="inner_data">10 900</span>
                    <span class="inner_data">(98-й)</span>
                  </td>
                  <td class="td">10 800</td>
                </tr>
                <tr class="petrol_price_tableRow">
                  <td class="td">Сеть UNG (Uzbekneftegaz, Uzgazoil)</td>
                  <td class="td">6 500</td>
                  <td class="td">9 100</td>
                  <td class="td">10 000</td>
                  <td class="td column-td">
                    <span class="inner_data">10 900</span>
                    <span class="inner_data">(98-й)</span>
                  </td>
                  <td class="td">10 800</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <div class="column-td">
            <p class="desc_p">* Согласно постановлению Кабинета Министров № 913 от 14 ноября 2017 г. автобензин марок Аи-92, Аи-93, Аи-95 и Аи-98, дизельное топливо (соответствующее европейским качеству и стандартам), а также авиационное топливо, завозимые по импорту и полученные от переработки импортного (давальческого) сырья, реализуются по свободным коммерческим ценам.</p>
          </div>
          <div class="column-td">
            <p class="desc_p">Для сравнения: стоимость бензина в различных странах мира по состоянию на 14 декабря 2020 года</p>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <div class="column-td">
            <p class="desc_p"><span class="bold_text">Средняя цена бензина на 14 декабря 2020</span> по всему миру составляет 1.03 (U.S. Dollar) за литр. Существует существенная разница в этих ценах между разными странами. Как правило, богатые страны имеют более высокие цены, а бедные страны и страны, которые производят и экспортируют нефть значительно более низким ценам. Единственным исключением является США, экономически развитой страной с низкими ценами бензина. Разница в ценах в разных странах обусловлены разными налоги и субсидии бензина. Все страны имеют доступ к те же цены нефти на международных рынках, но они предъявляют разные налоги. В результате, цены бензина разные.</p>
            <p class="desc_p">Средняя цена бензина по странам мира на декабрь 2020</p>
          </div>
          <div class="column-td">
            <p class="desc_p">* Страны с официальными данными. Для остальных стран, используются исторические данные в качестве ориентира и цена обновляется по текущему курсу и информации об изменении мировых цены на бензин.</p>
            <p class="desc_p"><a href="#">Посмотреть актуальные (текущие) цены на бензин >>></a></p>
            <p class="desc_p">Версия для печати</p>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <div class="world_stats_image">
            <img src="/mobile/img/world_stats_mobile.png" alt="world stats image">
          </div>
          <div class="column-td">
            <p class="desc_p">* Страны с официальными данными. Для остальных стран, используются исторические данные в качестве ориентира и цена обновляется по текущему курсу и информации об изменении мировых цены на бензин.</p>
          </div>
        </div>
        <div class="column-td gap-20 mt-20">
          <p class="desc_p"><a href="#">Посмотреть актуальные (текущие) цены на бензин >>></a></p>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>