<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Общая таблица коммунальных тарифов для физических лиц в Ташкенте, Узбекистан</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/communal_tariffs-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Общая таблица коммунальных тарифов для физических лиц в Ташкенте, Узбекистан</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="navigationDiv">
            <p class="navigation_title">Навигация:</p>
            <div class="navigation_container">
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              <a href="#" class="navigation_link">Алмалык</a>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на холодную воду</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-20">
              <p>* Тариф за холодную воду в Ташкенте с 14.02.18 приведен с учетом специальной надбавки (решение Хокима г.Ташкента №69 от 12 января 2018 года) к тарифам на услуги питьевого водоснабжения на 2018 год в размере 100 сум за 1м3</p>
              <div class="column-td gap-16">
                <p class="bold_text">Формула подсчета тарифа за холодную воду в Ташкенте при наличии счетчика в квартирах (с централизованной системой горячего водоснабжения) на примере цены с 24 января 2021 года:</p>
                <ul class="mini_ul">
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                </ul>
              </div>
              <div class="column-td gap-16">
                <p class="bold_text">Формула подсчета тарифа за холодную воду в Ташкенте при наличии счетчика в квартирах (с централизованной системой горячего водоснабжения) на примере цены с 24 января 2021 года:</p>
                <ul class="mini_ul">
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на горячую воду</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-16">
              <p>* C 1 декабря 2013 г., в соответствии с ПКМ №300 от 06.11.2013 г. «О мерах по финансовому оздоровлению теплоснабжающих и водоснабжающих организаций Республики» при отсутствии приборов учета горячей и холодной воды в жилых помещениях, в которых не имеются прописанные граждане, расчеты за услуги холодного и горячего водоснабжения и отвод стоков будет осуществляться по нормам потребления, с применением повышающего коэффициента 1,5 к установленным тарифам на услуги холодного и горячего водоснабжения  в расчете на одного человека в однокомнатном и двухкомнатном жилом помещении, на двух человек — в трехкомнатном жилом помещении, на трех человек — в четырехкомнатном жилом помещении и на четырех человек — в пятикомнатном жилом помещении.</p>
              <p>В данной таблице цена за горячую воду в Ташкенте без счетчика приведена уже с повышающим коэффицентом в 1,5 на человека</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на отопление</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-16">
              <p>* C 1 декабря 2013 г., в соответствии с ПКМ №300 от 06.11.2013 г. «О мерах по финансовому оздоровлению теплоснабжающих и водоснабжающих организаций Республики» при отсутствии приборов учета горячей и холодной воды в жилых помещениях, в которых не имеются прописанные граждане, расчеты за услуги холодного и горячего водоснабжения и отвод стоков будет осуществляться по нормам потребления, с применением повышающего коэффициента 1,5 к установленным тарифам на услуги холодного и горячего водоснабжения  в расчете на одного человека в однокомнатном и двухкомнатном жилом помещении, на двух человек — в трехкомнатном жилом помещении, на трех человек — в четырехкомнатном жилом помещении и на четырех человек — в пятикомнатном жилом помещении.</p>
              <p>В данной таблице цена за горячую воду в Ташкенте без счетчика приведена уже с повышающим коэффицентом в 1,5 на человека</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на электричество</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-16">
              <p>* C 1 декабря 2013 г., в соответствии с ПКМ №300 от 06.11.2013 г. «О мерах по финансовому оздоровлению теплоснабжающих и водоснабжающих организаций Республики» при отсутствии приборов учета горячей и холодной воды в жилых помещениях, в которых не имеются прописанные граждане, расчеты за услуги холодного и горячего водоснабжения и отвод стоков будет осуществляться по нормам потребления, с применением повышающего коэффициента 1,5 к установленным тарифам на услуги холодного и горячего водоснабжения  в расчете на одного человека в однокомнатном и двухкомнатном жилом помещении, на двух человек — в трехкомнатном жилом помещении, на трех человек — в четырехкомнатном жилом помещении и на четырех человек — в пятикомнатном жилом помещении.</p>
              <p>В данной таблице цена за горячую воду в Ташкенте без счетчика приведена уже с повышающим коэффицентом в 1,5 на человека</p>
              <p>* В Юнусабадском районе Ташкента с 1 января 2019 года до 1 апреля 2020 г. в качестве эксперимента вводилась базовая норма потребления газа населением. Базовая норма потребления газа на одного абонента в месяц установлена в размере 250 кубометров (в период отопительного сезона для частных домов и квартир, отапливаемых в индивидуальном порядке — 1 000 кубометров).</p>
              <p>Согласно новому порядку, расчеты за поставленный газ в пределах базовой нормы будут проводиться по установленному тарифу, а сверх базовой нормы — с применением повышающего 1,2-кратного коэффициента к установленному тарифу.</p>
              <p>При оплате авансом за природный газ до вступления новых тарифов в силу (т. е. до 15 августа 2019 г.) население освобождаются от доплаты при изменении тарифов на срок не более последующих 6 месяцев со дня оплаты. В дальнейшем этот срок сокращается до не более 2 месяцев (сейчас — 6 месяцев).</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Видеоинструкция для регистрации на сайте DTM.UZ</h3>
            <div id="videoDiv1" class="videoDiv">
              <div id="btn1" class="video_mask">
                <svg class="youtube_btn" viewBox="0 0 62 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_0_2971)">
                  <path d="M60.6307 6.70681C60.2751 5.41049 59.5814 4.22868 58.6187 3.27906C57.656 2.32943 56.4579 1.64514 55.1437 1.2943C50.3324 0 30.9686 0 30.9686 0C30.9686 0 11.6037 0.0391777 6.79244 1.33348C5.47821 1.68433 4.28009 2.36867 3.31739 3.31834C2.3547 4.268 1.66102 5.44986 1.30544 6.74622C-0.149868 15.1785 -0.714407 28.0274 1.3454 36.1224C1.70102 37.4187 2.39471 38.6005 3.35741 39.5501C4.3201 40.4998 5.5182 41.1841 6.8324 41.5349C11.6437 42.8292 31.008 42.8292 31.008 42.8292C31.008 42.8292 50.3721 42.8292 55.1832 41.5349C56.4974 41.1841 57.6956 40.4998 58.6583 39.5502C59.6211 38.6006 60.3148 37.4187 60.6704 36.1224C62.2054 27.6781 62.6784 14.8374 60.6307 6.70705V6.70681Z" fill="#FF0000"/>
                  <path d="M24.8022 30.5921L40.8663 21.4145L24.8025 12.2368L24.8022 30.5921Z" fill="white"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_0_2971">
                  <rect width="62" height="43" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              </div>
              <video id="video1" class="video" src="/media/test_video.mp4" loop muted controls></video>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тариф на бытовые отходы (мусор):</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv mt-30">
            <h3 class="h3">Коммунальные службы по районам Ташкента:</h3>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  <script src="/desktop/js/video.js"></script>
</body>
</html>