<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Общая таблица коммунальных тарифов для физических лиц в Ташкенте, Узбекистан</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/communal_tariffs-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Общая таблица коммунальных тарифов для физических лиц в Ташкенте, Узбекистан</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="navigationDiv">
            <p class="navigation_title">Навигация:</p>
            <div class="navigation_container">
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              <a href="#" class="navigation_link">Алмалык</a>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на холодную воду</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-20">
              <p>* Тариф за холодную воду в Ташкенте с 14.02.18 приведен с учетом специальной надбавки (решение Хокима г.Ташкента №69 от 12 января 2018 года) к тарифам на услуги питьевого водоснабжения на 2018 год в размере 100 сум за 1м3</p>
              <div class="column-td gap-16">
                <p class="bold_text">Формула подсчета тарифа за холодную воду в Ташкенте при наличии счетчика в квартирах (с централизованной системой горячего водоснабжения) на примере цены с 24 января 2021 года:</p>
                <ul class="mini_ul">
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                </ul>
              </div>
              <div class="column-td gap-16">
                <p class="bold_text">Формула подсчета тарифа за холодную воду в Ташкенте при наличии счетчика в квартирах (с централизованной системой горячего водоснабжения) на примере цены с 24 января 2021 года:</p>
                <ul class="mini_ul">
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                  <li>Вода 1 кубометр - 400 сум (плюс специальная надбавка за 1 кубометр в городе Ташкент - 100 сум)=500 сум</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на горячую воду</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-16">
              <p>* C 1 декабря 2013 г., в соответствии с ПКМ №300 от 06.11.2013 г. «О мерах по финансовому оздоровлению теплоснабжающих и водоснабжающих организаций Республики» при отсутствии приборов учета горячей и холодной воды в жилых помещениях, в которых не имеются прописанные граждане, расчеты за услуги холодного и горячего водоснабжения и отвод стоков будет осуществляться по нормам потребления, с применением повышающего коэффициента 1,5 к установленным тарифам на услуги холодного и горячего водоснабжения  в расчете на одного человека в однокомнатном и двухкомнатном жилом помещении, на двух человек — в трехкомнатном жилом помещении, на трех человек — в четырехкомнатном жилом помещении и на четырех человек — в пятикомнатном жилом помещении.</p>
              <p>В данной таблице цена за горячую воду в Ташкенте без счетчика приведена уже с повышающим коэффицентом в 1,5 на человека</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на отопление</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-16">
              <p>* C 1 декабря 2013 г., в соответствии с ПКМ №300 от 06.11.2013 г. «О мерах по финансовому оздоровлению теплоснабжающих и водоснабжающих организаций Республики» при отсутствии приборов учета горячей и холодной воды в жилых помещениях, в которых не имеются прописанные граждане, расчеты за услуги холодного и горячего водоснабжения и отвод стоков будет осуществляться по нормам потребления, с применением повышающего коэффициента 1,5 к установленным тарифам на услуги холодного и горячего водоснабжения  в расчете на одного человека в однокомнатном и двухкомнатном жилом помещении, на двух человек — в трехкомнатном жилом помещении, на трех человек — в четырехкомнатном жилом помещении и на четырех человек — в пятикомнатном жилом помещении.</p>
              <p>В данной таблице цена за горячую воду в Ташкенте без счетчика приведена уже с повышающим коэффицентом в 1,5 на человека</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Тарифы на электричество</h3>
            <div class="overflow_scroll">
              <table class="tarrif_table">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Тариф с 01.02.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                    <th>Тариф с 24.01.21 по 31.01.22</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                  <tr>
                    <td>В квартирах (с централизованной системой горячего водоснабжения) </td>
                    <td>
                      <div>за 1 чел. в месяц</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                      <div>по счетчику за 1 м3; (без канализации)</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                    <td>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                      <div>17 033 сум</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-16">
              <div class="column-td">
                
              </div>
            </div>
          </div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv mt-30">
            <h3 class="h3">Коммунальные службы по районам Ташкента:</h3>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
              <p class="otherLink"><a href="#">Коммунальные службы Алмазарского района</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>