<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Стоимость контрактного обучения в ВУЗах Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/contract-prices-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">В помощь абитуриенту</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Стоимость контрактного обучения в ВУЗах Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td gap-16">
						<h3 class="h3">Размеры контрактов по повышенным ставкам</h3>
            <div class="column-td gap-16">
              <p class="desc_p">Правительство определило размеры контрактов по повышенным ставкам, по которым вузы будут дополнительно принимать студентов в 2018/2019 учебном году. Размеры утверждены постановлением Кабинета министров «Об утверждении порядка о приеме в высшие образовательные учреждения, о восстановлении и отстранении от обучения» от 4 июля 2018 г.</p>
              <p class="desc_p">Согласно постановлению, сверх квот будут набираться 2 категории студентов. Первая категория — абитуриенты, которым не хватило до 4 баллов от последнего принятого абитуриента по основной квоте на платно-контрактной основе, и вторая — абитуриенты, набравшие более 68 баллов.</p>
              <p class="desc_p">Сумма контракта по повышенным ставкам будет высчитываться исходя из действующего установленного размера контракта:</p>
            </div>
          </div>
          <div class="column-td gap-8 mt-20">
            <h4 class="h4">1-я категория</h4>
            <div class="column-td gap-20">
              <p class="desc_p">Абитуриенты, которые не набрали до 1 балла до утвержденной квоты приема на платно-контрактной основе, заплатят за обучение контракт в 1,5 раза больше действующего;</p>
              <p class="desc_p">От 1 до 2-х баллов — 2х раза;</p>
              <p class="desc_p">От одного до 3 баллов — 2,5x раза;</p>
              <p class="desc_p">От одного до 4 баллов — 3x раза;</p>
              <p class="desc_p">* (х-кратное увеличение стоимости контракта);</p>
              <p class="desc_p">Для зачисления в вуз абитуриентам будет необходимо оплатить дополнительный контракт в полном объеме (100% стоимость).</p>
            </div>
          </div>
          <div class="column-td gap-8 mt-20">
            <h4 class="h4">2-я категория</h4>
            <div class="column-td gap-20">
              <p class="desc_p">В случае, если квота по дополнительному приему не заполнится абитуриентами из первой категории, то на вакантные места примут студентов из второй категории — это абитуриенты, набравшие более 56,7 балов т.е. 30% (в прошлом году 68 баллов, т.е. 30% - общее количество вопросов было больше) от максимального количества баллов. Они будут приниматься на учебу с условием оплаты более чем 10-кратного установленного размера действующего контракта. Точная сумма контракта для этой категории абитуриентов будет определяться Государственной комиссией.</p>
              <p class="desc_p">Средства, полученные от повышенных контрактов, будут в распоряжении вузов для развития материально-технической базы, поощрения труда учителей и улучшение условий обучения.</p>
            </div>
          </div>
          <div class="column-td gap-8 mt-30">
            <h3 class="h3">Новшества с 2018/19 учебного года</h3>
            <div class="column-td gap-20">
              <p class="desc_p">Абитуриенты, не добравшие проходной балл (56,7), смогут поступить в высшее учебное заведение Узбекистана, оплатив двукратный размер контракта по повышенной ставке. т.е. от 165,8 млн до 552,8 млн сумов соответственно в зависимости от направления.</p>
              <p class="desc_p">Кроме того, абитуриенты, которые не набрали достаточное количество баллов по результатам тестирования и готовы учиться в вузе, оплатив повышенную ставку контракта, смогут выбрать другое образовательное направление, где повышенная ставка контракта ниже. При этом будут учитываться блок предметов, место постоянного проживания абитуриента и адрес вуза, а также научно-педагогические и материально-технические возможности вуза.</p>
            </div>
          </div>
          <div class="column-td gap-12 mt-50">
            <h3 class="h3">Стоимость контрактного обучения в ВУЗах Узбекистана 2020/21 учебный год</h3>
            <div class="column-td gap-12">
              <p class="desc_p">В связи с пандемией коронавируса в 2020/21 учебном году все студенты очной формы обучения получат скидку в 10% на оплату контратов в государственных вузах Узбекистана.</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3 text-center">Стоимость контрактного обучения бакалавриата с очной формой обучения (первая специальность)</h3>
            <div class="overflow_scroll">
              <table class="new_prices_table">
                <thead>
                  <tr class="new_prices_tableRow tableHead">
                    <th class="th">Направление</th>
                    <th class="th">МРОТ</th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">Размер контакта до скидки</span>
                      <div class="grid2">
                        <span class="inner_data">Со стипендией (сум)</span>
                        <span class="inner_data border_none">Со стипендией (сум)</span>
                      </div>
                    </th>
                    <th class="th">10% скидка (относительно без стипендии)</th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">Размер контакта до скидки</span>
                      <div class="grid2">
                        <span class="inner_data">Со стипендией (сум)</span>
                        <span class="inner_data border_none">Со стипендией (сум)</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="new_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td">21</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">	9 809 260</span>
                      </div>
                    </td>
                    <td class="td">912 993</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">9 809 260</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="new_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td">21</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">	9 809 260</span>
                      </div>
                    </td>
                    <td class="td">912 993</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">9 809 260</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="new_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td">21</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">	9 809 260</span>
                      </div>
                    </td>
                    <td class="td">912 993</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">9 809 260</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3 text-center">Стоимость контрактного обучения бакалавриата с очной формой обучения (первая специальность)</h3>
            <div class="overflow_scroll">
              <table class="new_prices_table">
                <thead>
                  <tr class="new_prices_tableRow tableHead">
                    <th class="th">Направление</th>
                    <th class="th">МРОТ</th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">Размер контакта до скидки</span>
                      <div class="grid2">
                        <span class="inner_data">Со стипендией (сум)</span>
                        <span class="inner_data border_none">Со стипендией (сум)</span>
                      </div>
                    </th>
                    <th class="th">10% скидка (относительно без стипендии)</th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">Размер контакта до скидки</span>
                      <div class="grid2">
                        <span class="inner_data">Со стипендией (сум)</span>
                        <span class="inner_data border_none">Со стипендией (сум)</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="new_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td">21</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">	9 809 260</span>
                      </div>
                    </td>
                    <td class="td">912 993</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">9 809 260</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="new_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td">21</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">	9 809 260</span>
                      </div>
                    </td>
                    <td class="td">912 993</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">9 809 260</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="new_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td">21</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">	9 809 260</span>
                      </div>
                    </td>
                    <td class="td">912 993</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">14 945 260</span>
                        <span class="inner_data border_none">9 809 260</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <div class="column-td">
              <p class="desc_p">Для сравнения приведены таблицы стоимости контрактного (платного) обучения на очной (дневной) форме обучения в Высших учебных заведениях Узбекистана за 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012 и 2011 гг. Стоимость обучения приведена в национальной валюте Узбекистана, сум</p>
              <p class="desc_p">Согласно поставновлению Президента Республики Узбекистан «О неотложных мерах по надежному обеспечению населения республики основными видами социально-значимых продовольственных товаров» ПП-3028 от 23 июня 2017 года, установлено, что стоимость обучения в высших образовательных учреждениях (бакалавриат, магистратура) на платно-контрактной основе на 2017/2018 учебный год сохраняется на уровне 2016/2017 учебного года.</p>
              <p class="desc_p">Начиная с 1 сентября 2018 г (т.е. с 2018/19 учебного года) стоимость обучения в отечественных вузах будет исчисляться в МРЗП. В зависимости от направления обучения конкракт составит от 45 до 60 МРЗП для бакалавриата и от 49 до 66 МРЗП для магистратуры. Специальное заочное образование от 15 до 27 МРЗП. Чуть ниже представлена таблица стомости контактного обучения с учетом изменения МРЗП в Узбекистане с 15 июля 2018 г. (184 300 сум)</p>
              <p class="desc_p">Начиная с 1 сентября 2019 г (т.е. с 2019/20 учебного года) стоимость обучения в отечественных вузах будет исчисляться в МРОТ. В зависимости от направления обучения конкракт составит от 17 до 22 МРОТ для бакалавриата и от 19 до 24 МРОТ для магистратуры. Специальное заочное образование от 10 до 15 МРОТ. Чуть ниже представлена таблица стомости контактного обучения с учетом изменения МРОТ в Узбекистане с 01 август 2019 г. (634 880 сум) и с 1 февраля 2020 г.  (679 300 сум)</p>
            </div>
            <div class="column-td">
              <p class="desc_p">При оплате без стипендии стоимость контракта уменьшается на 5 136 000 сум, чем со стипендией исходя из установленной ежемесячной стипендии в 428 тысяч сумов.</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3">Cтоимость контрактного обучения в ВУЗах Узбекистана в 2019-2016 годах</h3>
            <div id="scroll_table" class="overflow_scroll">
              <table class="old_prices_table">
                <thead>
                  <tr class="old_prices_tableRow tableHead">
                    <th class="th">Направление</th>
                    <th class="th">Основные ВУЗЫ</th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="old_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td text-start">	Медицинская академия (ТашМИ), Педиатрический институт</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="old_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td text-start">	Медицинская академия (ТашМИ), Педиатрический институт</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3">Cтоимость контрактного обучения в ВУЗах Узбекистана в 2019-2016 годах</h3>
            <div id="scroll_table" class="overflow_scroll">
              <table class="old_prices_table">
                <thead>
                  <tr class="old_prices_tableRow tableHead">
                    <th class="th">Направление</th>
                    <th class="th">Основные ВУЗЫ</th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                    <th class="th column-td">
                      <span class="inner_data bt_border border_none">с 01.09.15</span>
                      <div class="grid2">
                        <span class="inner_data">Бакалавр</span>
                        <span class="inner_data border_none">Магистры</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="old_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td text-start">	Медицинская академия (ТашМИ), Педиатрический институт</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="old_prices_tableRow">
                    <td class="td text-start">Информационные технологии и информационая безопасность</td>
                    <td class="td text-start">	Медицинская академия (ТашМИ), Педиатрический институт</td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                    <td class="td column-td">
                      <div class="grid2">
                        <span class="inner_data">8 550 000</span>
                        <span class="inner_data border_none">9 400 000</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td mt-30">
            <div class="column-td gap-12">
              <p class="desc_p">Согласно постановлению Президента Республики Узбекистан от 21 июня 2018 года № ПП-3795 УМЭД «О мерах по кардинальному совершенствованию деятельности Университета мировой экономики и дипломатии». получил право ежегодно повышать стоимость контрактов в бакалавриате и магистратуре с учетом фактических расходов на подготовку высококвалифицированных кадров и стратегии развития вуза. Начиная с 2018/19 учебного года стомость контрактного обучения в УМЭД отличается от общепринятого контрактного обучения в государственных ВУЗах Узбекистана.</p>
            </div>
            <div class="column-td gap-12 mt-50">
              <p class="desc_p">УМЭД первым в Узбекистане вводит дифференцированные условия контрактов.</p>
            </div>
            <div class="column-td gap-12 mt-25">
              <p class="desc_p">Бакалавриат:</p>
            </div>
            <div class="column-td mt-20">
              <p class="desc_p">обучение на платно-контрактной основе с выплатой стипендий составит 22,1 млн сумов;</p>
              <p class="desc_p">обучение на платно-контрактной основе без выплаты стипендий — 18,3 млн сумов;</p>
              <p class="desc_p">с выплатой стипендии и включением расходов для проживание в общежитии, пользование спортивно-оздоровительным комплексом — 24,1 млн сумов;</p>
              <p class="desc_p">без выплаты стипендии и включением расходов для проживания в общежитии, пользование спортивно-оздоровительным комплексом — 20,3 млн сумов.</p>
            </div>
            <div class="column-td gap-12 mt-25">
              <p class="desc_p">Магистратура:</p>
            </div>
            <div class="column-td mt-20">
              <p class="desc_p">обучение на платно-контрактной основе с выплатой стипендий составит 24,3 млн сумов;</p>
              <p class="desc_p">обучение на платно-контрактной основе без выплаты стипендий — 20,5 млн сумов;</p>
              <p class="desc_p">с выплатой стипендии и включением расходов для проживание в общежитии, пользование спортивно-оздоровительным комплексом — 24,1 млн сумов;</p>
              <p class="desc_p">без выплаты стипендии и включением расходов для проживания в общежитии, пользование спортивно-оздоровительным комплексом — 20,3 млн сумов.</p>
              <p class="desc_p">Примечание: В связи с изменениями минимальной зарплаты в Узбекистане в процессе учебных годов 2013/14, 2012/13 и 2011/12  происходило изменение стоимости контратного обучения внутри учебного года, которые в данной таблице не отражены.</p>
            </div>
            <div class="column-td gap-16 mt-20">
              <p class="desc_p">Согласно приказу  министра Высшего и среднего специального образования Республики Узбекистан от 28.12.2012 г. N 508 зарегистрированного минюстом РУз от 26.02.13 №2431 утверждено следующее:</p>
              <p class="desc_p">- Размер суммы за обучение может пересматриваться в связи с изменением размеров заработной платы, стипендий, тарифов на энергоресурсы, коммунальные и эксплуатационные услуги. Перерасчет производится исходя из оставшегося периода обучения. Недостающая сумма, полученная в результате перерасчета, уплачивается в течение месяца со дня получения извещения образовательного учреждения. А если оплата за обучение уменьшилась, излишне уплаченная сумма засчитывается в счет будущих платежей или возвращается по письменному обращению.</p>
              <p class="desc_p">- Обучение иностранных граждан производится только на контрактной основе с оплатой суммы контракта в национальном эквиваленте суммы иностранной валюты по курсу Центробанка РУ на день оплаты.</p>
            </div>
          </div> 
          <div class="column-td gap-20 mt-30">
            <h3 class="h3 text-center">Размер стипендии в государственных ВУЗах Узбекистана.</h3>
            <div class="overflow_scroll">
              <table class="national_stipendies_table">
                <thead>
                  <tr class="national_stipendies_tableRow tableHead">
                    <th class="th">Дата</th>
                    <th class="th">Отличник</th>
                    <th class="th">Хорошист</th>
                    <th class="th">Троечник</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="national_stipendies_tableRow">
                    <td class="td">15.07.18</td>
                    <td class="td">621 745 сум</td>
                    <td class="td">466 309 сум</td>
                    <td class="td">310 873 сум</td>
                  </tr>
                  <tr class="national_stipendies_tableRow">
                    <td class="td">15.07.18</td>
                    <td class="td">621 745 сум</td>
                    <td class="td">466 309 сум</td>
                    <td class="td">310 873 сум</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> 
          <div class="column-td gap-20 mt-30">
            <h3 class="h3 text-center">Именные стипендии в ВУЗах Узбекистана с 15.07.18.</h3>
            <div class="overflow_scroll">
              <table class="named_stipendies_table">
                <thead>
                  <tr class="named_stipendies_tableRow tableHead">
                    <th class="th">Категории студентов (кроме иностранных студентов)</th>
                    <th class="th">Размер (сум в месяц)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="named_stipendies_tableRow">
                    <td class="td">Стипендиаты Государственной стипендии Президента Республики Узбекистан</td>
                    <td class="td">310 873 сум</td>
                  </tr>
                  <tr class="named_stipendies_tableRow">
                    <td class="td">Стипендиаты Государственной стипендии Президента Республики Узбекистан</td>
                    <td class="td">310 873 сум</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3 text-center">Стоимость контрактного обучения в филиалах зарубежных высших учебных заведений в Узбекистане 2018/19 учебном году для граждан Узбекистана (сум)</h3>
            <div class="overflow_scroll">
              <table class="internation_branch_table">
                <thead>
                  <tr class="internation_branch_tableRow tableHead">
                    <th class="th">Наименование учебного заведения</th>
                    <th class="th">Бакалавриат</th>
                    <th class="th">Магистратура</th>
                    <th class="th">Примечание</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="internation_branch_tableRow">
                    <td class="td">МЕЖДУНАРОДНЫЙ ВЕСТМИНСТЕРСКИЙ УНИВЕРСИТЕТ В ТАШКЕНТЕ</td>
                    <td class="td">29 994 000</td>
                    <td class="td">44 991 000</td>
                    <td class="td">Срок обучения - 4 года в бакалавриате и 2 года в магистратуре.</td>
                  </tr>
                  <tr class="internation_branch_tableRow">
                    <td class="td">МЕЖДУНАРОДНЫЙ ВЕСТМИНСТЕРСКИЙ УНИВЕРСИТЕТ В ТАШКЕНТЕ</td>
                    <td class="td">29 994 000</td>
                    <td class="td">44 991 000</td>
                    <td class="td">Срок обучения - 4 года в бакалавриате и 2 года в магистратуре.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Ссылки по теме:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Список ВУЗов и институтов Ташкента и Узбекистана</a></p>
              <p class="otherLink"><a href="#">Памятка для абитуриента</a></p>
              <p class="otherLink"><a href="#">Подготовка в ВУЗЫ, институты в Ташкенте в Узбекистане</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>