<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Расстояние между городами Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/distance-cities-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Расстояние между городами Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td">
            <div class="overflow_scroll">
              <table class="cities_table">
                <thead>
                  <tr class="cities_tableRow tableHead">
                    <th class="th none"></th>
                    <th class="th">Ташкент</th>
                    <th class="th">Андижан</th>
                    <th class="th">Бухара</th>
                    <th class="th">Гулист.</th>
                    <th class="th">Джизак</th>
                    <th class="th">Карши</th>
                    <th class="th">Навои</th>
                    <th class="th">Наманган</th>
                    <th class="th">Нукус</th>
                    <th class="th">Самарк.</th>
                    <th class="th">Термез</th>
                    <th class="th">Фергана</th>
                    <th class="th">Ургенч (Хива)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="cities_tableRow">
                    <td class="td">Ташкент</td>
                    <td class="td none"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                  </tr>
                  <tr class="cities_tableRow">
                    <td class="td">Андижан</td>
                    <td class="td"></td>
                    <td class="td none"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                    <td class="td"></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td gap-20 mt-30">
              <p class="desc_p">* Расстояние между городами Узбекистана приведено в км. Расчет производился с помощью карт Yandex Карты.</p>
              <p class="desc_p">* Некоторые расстояние между городами могут варьироваться в связи с дорожными работами, объездами, проездом по просёлочным дорогам и т.п.;</p>
              <p class="desc_p">* Небольшие различия (до 5%) в расстоянии между городами Узбекистана от приведенных в таблице и показателями счетчика спидометра Вашего автомобиля возможны: из-за разных точек отсчета начального и конечного пункта назначения, погрешности спидометра, разной резины (R13, R14, R15) и т.п..</p>
              <p class="desc_p">* Расстояние между областным центром Ургенч и историческим городом Хива - 35 км.</p>
            </div>
          </div>
          <div class="column-td mt-30 gap-20">
            <h3 class="h3">Популярные расстояния между городами Узбекистана:</h3>
            <div class="column-td gap-10">
              <h5 class="h5">Расстояние от Ташкента до Самарканда/от Самарканда до Ташкента</h5>
              <div class="column-td gap-8">
                <p class="desc_p">Расстояние от Ташкента до Самарканда по дорогам общего пользования составляет 300 км. В неметрической системе измерения равно 187 миль. Примерное время на легковом автомобиле составляет около 4,5 часов. Примерный расход топлива на дорогу из Ташкента в Самарканд или из Самарканда в Ташкент при расходе 7 литров на 100 км составит: 7л/100 *300 км =21 литр.</p>
              </div>
            </div>
            <div class="column-td gap-10">
              <h5 class="h5">Расстояние от Ташкента до Самарканда/от Самарканда до Ташкента</h5>
              <div class="column-td gap-8">
                <p class="desc_p">Расстояние от Ташкента до Самарканда по дорогам общего пользования составляет 300 км. В неметрической системе измерения равно 187 миль. Примерное время на легковом автомобиле составляет около 4,5 часов. Примерный расход топлива на дорогу из Ташкента в Самарканд или из Самарканда в Ташкент при расходе 7 литров на 100 км составит: 7л/100 *300 км =21 литр.</p>
              </div>
            </div>
            <div class="column-td gap-10">
              <h5 class="h5">Расстояние от Ташкента до Самарканда/от Самарканда до Ташкента</h5>
              <div class="column-td gap-8">
                <p class="desc_p">Расстояние от Ташкента до Самарканда по дорогам общего пользования составляет 300 км. В неметрической системе измерения равно 187 миль. Примерное время на легковом автомобиле составляет около 4,5 часов. Примерный расход топлива на дорогу из Ташкента в Самарканд или из Самарканда в Ташкент при расходе 7 литров на 100 км составит: 7л/100 *300 км =21 литр.</p>
              </div>
            </div>
            <div class="column-td gap-10">
              <h5 class="h5">Расстояние от Ташкента до Самарканда/от Самарканда до Ташкента</h5>
              <div class="column-td gap-8">
                <p class="desc_p">Расстояние от Ташкента до Самарканда по дорогам общего пользования составляет 300 км. В неметрической системе измерения равно 187 миль. Примерное время на легковом автомобиле составляет около 4,5 часов. Примерный расход топлива на дорогу из Ташкента в Самарканд или из Самарканда в Ташкент при расходе 7 литров на 100 км составит: 7л/100 *300 км =21 литр.</p>
              </div>
            </div>
          </div>
          <div class="column-td mt-30">
            <h3 class="h3">Карта Узбекистана:</h3>
            <div class="map mt-30">
              <img src="/desktop/img/map.png" alt="map of uzbekistan">
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>