<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Таблица штрафов за нарушение ПДД в Узбекистане</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/fines-table-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">В помощь абитуриенту</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Таблица штрафов за нарушение ПДД в Узбекистане</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div>
            <p class="desc_p">Размер штрафа за нарушение ПДД устанавливается в соответствии с административным кодексом Республики Узбекистан.</p>
            <p class="desc_p">Данные действительны на 01.09.2021 г.</p>
            <p class="desc_p pt-15"><span class="blue">Минимальная зарплата в Узбекистане (БРВ - базовая расчетная величина)</span> - 270 000 сум (с 01.09.2021)</p>
					</div>
          <div class="mainBlock">
            <div class="mainTable mt-25">
              <table class="table1">
                <thead>
                  <tr class="table1TableRow tableHead">
                    <th class="th">Вид нарушения</th>
                    <th class="th">Статья административного кодекса</th>
                    <th class="th">Размер штрафа</th>
                    <th class="th">В БРВ</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table1TableRow">
                    <td class="td column-td gap-8 text-start">
                      <span class="bold_p">1. Ремень безопасности</span>
                      <p class="desc_p">Несоблюдение водителями правил пользования ремнями безопасности при управлении транспортными средствами и перевозке пассажиров, а равно несоблюдение водителями мотоциклов правил пользования мотошлемами</p>
                    </td>
                    <td class="td">ст.125 ч.1</td>
                    <td class="td">135 000 сум</td>
                    <td class="td">0.5</td>
                  </tr>
                  <tr class="table1TableRow">
                    <td class="td column-td gap-8 text-start">
                      <span class="bold_p">2. Ремень безопасности</span>
                      <p class="desc_p">Несоблюдение водителями правил пользования ремнями безопасности при управлении транспортными средствами и перевозке пассажиров, а равно несоблюдение водителями мотоциклов правил пользования мотошлемами</p>
                    </td>
                    <td class="td">ст.125 ч.1</td>
                    <td class="td">135 000 сум</td>
                    <td class="td">0.5</td>
                  </tr>
                </tbody>
              </table>
              <div class="colTableDiv">
                <h3 class="h3">Нарушения правил дорожного движения в Узбекистане, влекущие удержании транспортного средства на штраф площадке</h3>
                <table class="tableGrid">
                  <thead>
                    <tr class="grid2TableRow tableHead">
                      <th class="th">Вид нарушения</th>
                      <th class="th">Статья административного кодекса</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="grid2TableRow">
                      <td class="td text-start">Управление транспортными средствами с поддельными или измененными государственными номерными знаками, а равно с государственными номерными знаками, не принадлежащими этому транспортному средству</td>
                      <td class="td">ст.125 ч.1</td>
                    </tr>
                    <tr class="grid2TableRow">
                      <td class="td text-start">Управление транспортными средствами с поддельными или измененными государственными номерными знаками, а равно с государственными номерными знаками, не принадлежащими этому транспортному средству</td>
                      <td class="td">ст.125 ч.1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="colTableDiv">
                <h3 class="h3">Нарушения ПДД в Узбекистане, по которым допустимо наложение штрафа на месте*</h3>
                <table class="tableGrid">
                  <thead>
                    <tr class="grid2TableRow tableHead">
                      <th class="th">Вид нарушения</th>
                      <th class="th">Статья административного кодекса</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="grid2TableRow">
                      <td class="td text-start">Неподчинение пешеходов сигналам регулирования дорожного движения, переход ими проезжей части в неустановленных местах, а также неподчинение сигналам регулирования дорожного движения, несоблюдение требований дорожных знаков приоритета, запрещающих или предписывающих дорожных знаков лицами, управляющими мопедами и велосипедами, возчиками и другими лицами, пользующимися дорогами (штраф в размере 1/3 мин.зп)</td>
                      <td class="td">ст.125 ч.1</td>
                    </tr>
                    <tr class="grid2TableRow">
                      <td class="td text-start">Неподчинение пешеходов сигналам регулирования дорожного движения, переход ими проезжей части в неустановленных местах, а также неподчинение сигналам регулирования дорожного движения, несоблюдение требований дорожных знаков приоритета, запрещающих или предписывающих дорожных знаков лицами, управляющими мопедами и велосипедами, возчиками и другими лицами, пользующимися дорогами (штраф в размере 1/3 мин.зп)</td>
                      <td class="td">ст.125 ч.1</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p class="desc_p bottomText">*Если не представляется возможным установление, что правонарушения, предусмотренные частью 1 статьей 126, 128, не совершены повторно в течение год, если талон к водительскому удостоверению правонарушителем был обменен в течение года или записи о правонарушении вызывают сомнение, сотрудник ГСБДД вправе оформить протокол в установленном порядке.</p>
            <ul class="textDiv">
              <li class="textDiv_text">С целью создания удобства при возврате изъятых за правонарушения водительских удостоверений для населения г. Ташкента рекомендуется обращаться:</li>
              <li class="textDiv_text">Населению Яккасарайского, Бектемирского, Мирабадского, Сергелийского и Хамзинского районов - в отдел Административных операций УБДД, расположенный по адресу г. Ташкент, Яккасарайский район, ул. Глинки, дом 44;</li>
              <li class="textDiv_text">Населению Юнусабадского, М.Улугбекского и Олмазарского районов - в филиал отдела Административных операций в здании диагностической станции № 2 УБДД, расположенный по адресу г. Ташкент, Юнусабадский район, ул. О. Зокирова, дом 2;</li>
              <li class="textDiv_text">Населению Чиланзарского, Учтепинского и Шайхонтахурского районов - в филиал отдела Административных операций в здании диагностической станции № 1 УБДД, расположенный по адресу г. Ташкент, Чиланзарский район, просп. Бунедкор, дом 118</li>
            </ul>
            <div class="row-td mt-25">
              <p class="desc_p">Источник: </p>
              <p class="desc_p"><a class="link" target="_blank" href="http://www.prava.uz/">www.prava.uz</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>