<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Службы первой помощи в Узбекистане</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/first-aid-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Службы первой помощи в Узбекистане</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <table class="first-aid-table">
            <thead>
              <tr class="first-aid-tableRow tableHead">
                <th class="th">Название</th>
                <th class="th">Телефоны</th>
                <th class="th">Адрес</th>
              </tr>
            </thead>
            <tbody>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Пожарная служба</td>
                <td class="td">101</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Скорая помощь</td>
                <td class="td">14020</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Милиция</td>
                <td class="td">104</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Пожарная служба</td>
                <td class="td">110</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Пожарная служба</td>
                <td class="td">101</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Скорая помощь</td>
                <td class="td">14020</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Милиция</td>
                <td class="td">78 1508450, 75 2211464, 75 2211536, 75 2210516</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
              <tr class="first-aid-tableRow">
                <td class="td left-td">Пожарная служба</td>
                <td class="td">110</td>
                <td class="td">г. ТАШКЕНТ, ул. С.АЗИМОВА (бывш. ЖУКОВСКАЯ), 87</td>
              </tr>
            </tbody>
          </table>
          <div class="tableDescDiv">
            <p class="update_time">Обновлено: 18.08.21</p>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>