<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Перечень праздников в Узбекистане</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/holidays-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Перечень праздников в Узбекистане</h1>
      </div>
      <!-- === Main content starts here! === -->
      <div class="mainMiniContainer">
        <div class="column-td gap-20 mt-15">
          <h2 class="h2">Общенациональные праздники в Узбекистане</h2>
          <table class="holidays_table">
            <thead>
              <tr class="holidays_tableRow tableHead">
                <th class="th">Дата</th>
                <th class="th">Название праздника</th>
              </tr>
            </thead>
            <tbody>
              <tr class="holidays_tableRow">
                <td class="td">21 сентября</td>
                <td class="td"><p class="desc_p">День памяти и почестей (День победы)</p> <span class="red">(Выходной)</span></td>
              </tr>
              <tr class="holidays_tableRow">
                <td class="td">21 сентября</td>
                <td class="td"><p class="desc_p">День памяти и почестей (День победы)</p> <span class="red">(Выходной)</span></td>
              </tr>
              <tr class="holidays_tableRow">
                <td class="td">21 сентября</td>
                <td class="td"><p class="desc_p">День памяти и почестей (День победы)</p> <span class="red">(Выходной)</span></td>
              </tr>
            </tbody>
          </table>
          <div class="column-td">
            <p class="desc_p">Также, в Узбекистане есть два религиозных праздника с меняющимися датами зависящие от лунного календаря:</p>
            <p class="desc_p">- Рамазан-Хаит. В 2022 г. первый день Рамазан-Хаита в Узбекистане празднуется 2 мая (понедельник) 2022 г. (В 2021 г - 13 мая, в 2020 году - 24 мая) . В 2021 и 2020 гг. Рамазан-Хаит праздновался с соблюдением требований карантина.</p>
            <p class="desc_p">- Курбан-хаит. Предварительно, в 2022 году первый день Курбан-Хаита в Узбекистане празднуется 9 июля (суббота) 2022 г. (В 2021 г - 20 июля, в 2020 году - 31 июля) . В 2021 и 2020 гг. Курбан-Хаит праздновался с соблюдением требований карантина.</p>
          </div>
        </div>
        <div class="column-td gap-8 mt-30">
          <h2 class="h2">Дополнительные выходные дни в Узбекистане в 2022 году</h2>
          <div class="column-td">
            <p class="desc_p">Президент Узбекистана Шавкат Мирзиёев 20 декабря 2021 года подписал указ «Об установлении дополнительных нерабочих дней в период празднования официальных дат и переносе выходных дней в 2022 году». (УП-35 от 20 декабря 2021 г.)</p>
          </div>
        </div>
        <div class="column-td gap-16 mt-30">
          <h2 class="h2">Документом установлены следующие дополнительные нерабочие дни для всех работников независимо от видов рабочей недели:</h2>
          <ul class="holiday_ul">
            <li><p class="desc_p">3 января - понедельник;</p></li>
            <li><p class="desc_p">22 марта — вторник;</p></li>
            <li><p class="desc_p">23 марта — среда;</p></li>
            <li><p class="desc_p">11 июля - понедельник;</p></li>
            <li><p class="desc_p">2 сентября - пятница;</p></li>
          </ul>
        </div>
        <div class="column-td gap-20 mt-30">
          <h2 class="h2">В результате установления дополнительного нерабочего дня и переноса отдельных выходных дней продолжительность непрерывного отдыха в праздничные дни в 2022  году составит:</h2>
          <div class="column-td gap-16">
            <div class="holidayCard">
              <h5 class="h5">На Новый 2021/22 год</h5>
              <div class="column-td">
                <p class="desc_p">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</p>
              </div>
            </div>
            <div class="holidayCard">
              <h5 class="h5">На Новый 2021/22 год</h5>
              <div class="column-td">
                <p class="desc_p">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contentCenter mt-30">
          <h2 class="h2">Календарь в Узбекистане 2022</h2>
          <div class="calendarImage">
            <img src="/mobile/img/calendar-mobile.png" alt="calendar">
          </div>
        </div>
        <div class="column-td gap-16 mt-30">
          <h2 class="h2">Документом установлены следующие дополнительные нерабочие дни для всех работников независимо от видов рабочей недели:</h2>
          <ul class="holiday_ul">
            <li><p class="desc_p">3 января - понедельник;</p></li>
            <li><p class="desc_p">22 марта — вторник;</p></li>
            <li><p class="desc_p">23 марта — среда;</p></li>
            <li><p class="desc_p">11 июля - понедельник;</p></li>
            <li><p class="desc_p">2 сентября - пятница;</p></li>
          </ul>
        </div>
        <div class="column-td gap-20 mt-30">
          <h2 class="h2">В результате установления дополнительного нерабочего дня и переноса отдельных выходных дней продолжительность непрерывного отдыха в праздничные дни в 2022  году составит:</h2>
          <div class="column-td gap-16">
            <div class="holidayCard">
              <h5 class="h5">На Новый 2021/22 год</h5>
              <div class="column-td">
                <p class="desc_p">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</p>
              </div>
            </div>
            <div class="holidayCard">
              <h5 class="h5">На Новый 2021/22 год</h5>
              <div class="column-td">
                <p class="desc_p">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="contentCenter mt-30">
          <h2 class="h2">Календарь в Узбекистане 2022</h2>
          <div class="calendarImage">
            <img src="/mobile/img/calendar-mobile.png" alt="calendar">
          </div>
        </div>
        <div class="column-td gap-8 mt-30">
          <h2 class="h2">Дополнительные выходные дни в Узбекистане в 2020 году</h2>
          <div class="column-td">
            <p class="desc_p">Президент Узбекистана Шавкат Мирзиёев 20 декабря 2021 года подписал указ «Об установлении дополнительных нерабочих дней в период празднования официальных дат и переносе выходных дней в 2022 году». (УП-35 от 20 декабря 2021 г.)</p>
          </div>
        </div>
        <div class="column-td gap-12 mt-30">
          <div class="column-td">
            <p class="desc_p">В 2020 году в связи с пандемией коронавируса во всех регионах Узбекистана, cпециальная республиканская комиссия по борьбе с коронавирусом опубликовала заявление, касающееся празднования Нового года в Узбекистане. Согласно этому заявлению министерствам, ведомствам, предприятиям с государственной долей и другим организациям запрещено проводить корпоративные праздничные мероприятия. Сэкономленные за этот счёт средства рекомендовано направить на поддержку сфер образования, здравоохранения, домам милосердия и в другие социальные сферы. Также запрещено проведение в закрытых помещениях в дошкольных образовательных организациях, общеобразовательных школах и вузах праздничных мероприятий и вечеров с участием воспитанников, учащихся и студентов.</p>
            <p class="desc_p">Указанный запрет не распространяется на праздничные мероприятия, проводимые в ресторанах, кафе и других объектах общественного питания с участием не более 30 человек и со строгим соблюдением санитарно-гигиенических и карантинных требований.</p>
          </div>
          <div class="column-td">
            <p class="desc_p">Жителям страны рекомендовано встретить 2021 год в кругу семьи, говорится в заявлении.</p>
          </div>
        </div>
        <div class="column-td gap-20 mt-30">
          <h2 class="h2">Дополнительные выходные дни в Узбекистане в 2020 году</h2>
          <table class="holidays_table">
            <thead>
              <tr class="holidays_tableRow tableHead">
                <th class="th">Дата</th>
                <th class="th">Название праздника</th>
              </tr>
            </thead>
            <tbody>
              <tr class="holidays_tableRow">
                <td class="td">21 сентября</td>
                <td class="td"><p class="desc_p">День памяти и почестей (День победы)</p> <span class="red">(Выходной)</span></td>
              </tr>
              <tr class="holidays_tableRow">
                <td class="td">21 сентября</td>
                <td class="td"><p class="desc_p">День памяти и почестей (День победы)</p> <span class="red">(Выходной)</span></td>
              </tr>
              <tr class="holidays_tableRow">
                <td class="td">21 сентября</td>
                <td class="td"><p class="desc_p">День памяти и почестей (День победы)</p> <span class="red">(Выходной)</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="column-td gap-20 mt-30">
          <h2 class="h2">В Узбекистане 2021-1994 гг.. объявлены годом:</h2>
          <table class="holidays_table">
            <thead>
              <tr class="holidays_tableRow tableHead">
                <th class="th">Дата</th>
                <th class="th">Название праздника</th>
              </tr>
            </thead>
            <tbody>
              <tr class="holidays_tableRow">
                <td class="td">2022 г.</td>
                <td class="td">Обеспечения интересов человека и развития махалли (Президент: Мирзиёев Ш. М.)</td>
              </tr>
              <tr class="holidays_tableRow">
                <td class="td">2022 г.</td>
                <td class="td">Обеспечения интересов человека и развития махалли (Президент: Мирзиёев Ш. М.)</td>
              </tr>
              <tr class="holidays_tableRow">
                <td class="td">2022 г.</td>
                <td class="td">Обеспечения интересов человека и развития махалли (Президент: Мирзиёев Ш. М.)</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>