<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Перечень праздников в Узбекистане</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/holidays-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Перечень праздников в Узбекистане</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td gap-20">
						<h3 class="h3">Общенациональные праздники в Узбекистане</h3>
            <div class="overflow_scroll">
              <table class="holidays_table">
                <thead>
                  <tr class="holidays_tableRow tableHead">
                    <th class="th">Дата</th>
                    <th class="th">Название праздника</th>
                    <th class="th">Тип дня</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="column-td">
              <p class="desc_p">Также, в Узбекистане есть два религиозных праздника с меняющимися датами зависящие от лунного календаря:</p>
              <p class="desc_p">- Рамазан-Хаит. В 2022 г. первый день Рамазан-Хаита в Узбекистане празднуется 2 мая (понедельник) 2022 г. (В 2021 г - 13 мая, в 2020 году - 24 мая) . В 2021 и 2020 гг. Рамазан-Хаит праздновался с соблюдением требований карантина.</p>
              <p class="desc_p">- Курбан-хаит. Предварительно, в 2022 году первый день Курбан-Хаита в Узбекистане празднуется 9 июля (суббота) 2022 г. (В 2021 г - 20 июля, в 2020 году - 31 июля) . В 2021 и 2020 гг. Курбан-Хаит праздновался с соблюдением требований карантина.</p>
            </div>
					</div>
          <div class="column-td gap-16 mt-50">
            <h3 class="h3">Дополнительные выходные дни в Узбекистане в 2022 году</h3>
            <div class="column-td">
              <p class="desc_p">Президент Узбекистана Шавкат Мирзиёев 20 декабря 2021 года подписал указ «Об установлении дополнительных нерабочих дней в период празднования официальных дат и переносе выходных дней в 2022 году». (УП-35 от 20 декабря 2021 г.)</p>
            </div>
          </div>
          <div class="column-td gap-16 mt-50">
            <h3 class="h3">Дополнительные выходные дни в Узбекистане в 2022 году</h3>
            <ul class="column-td gap-4 holiday_ul">
              <li><p class="desc_p">3 января - понедельник;</p></li>
              <li><p class="desc_p">22 марта — вторник;</p></li>
              <li><p class="desc_p">23 марта — среда;</p></li>
              <li><p class="desc_p">11 июля - понедельник;</p></li>
              <li><p class="desc_p">2 сентября - пятница;</p></li>
            </ul>
          </div>
          <div class="column-td gap-20 mt-50">
            <h3 class="h3">В результате установления дополнительного нерабочего дня и переноса отдельных выходных дней продолжительность непрерывного отдыха в праздничные дни в 2022  году составит:</h3>
            <div class="overflow_scroll">
              <table class="noHead_table">
                <tbody>
                  <tr class="noHead_tableRow">
                    <td class="td">на Новый 2021/22 год</td>
                    <td class="td">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</td>
                  </tr>
                  <tr class="noHead_tableRow">
                    <td class="td">на Новый 2021/22 год</td>
                    <td class="td">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</td>
                  </tr>
                  <tr class="noHead_tableRow">
                    <td class="td">на Новый 2021/22 год</td>
                    <td class="td">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="centerContent column-td gap-20 mt-30">
              <h3 class="h3">Календарь в Узбекистане 2022</h3>
              <div class="calendarImage">
                <img src="/desktop/img/calendar-desktop.png" alt="calendar">
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-50">
            <h3 class="h3">Дополнительные выходные дни в Узбекистане в 2020 году</h3>
            <div class="column-td gap-16">
              <p class="desc_p">Президент Узбекистана Шавкат Мирзиёев 14 ноября подписал указ «Об установлении дополнительных нерабочих дней в период празднования официальных дат и переносе выходных дней в 2020 году».</p>
              <p class="desc_p">В 2020 году законодательно устанавливаются дополнительные нерабочие дни, приуроченный к государственному празднику Навруз, а также осуществляется перенос отдельных выходных дней на ближайшие к этим праздничным датам рабочие дни.</p>
              <p class="desc_p">В результате установления дополнительного нерабочего дня и переноса отдельных выходных дней продолжительность непрерывного отдыха в праздничные дни в 2020 году составит:</p>
            </div>
            <div class="overflow_scroll">
              <table class="noHead_table">
                <tbody>
                  <tr class="noHead_tableRow">
                    <td class="td">на Новый 2021/22 год</td>
                    <td class="td">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</td>
                  </tr>
                  <tr class="noHead_tableRow">
                    <td class="td">на Новый 2021/22 год</td>
                    <td class="td">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</td>
                  </tr>
                  <tr class="noHead_tableRow">
                    <td class="td">на Новый 2021/22 год</td>
                    <td class="td">5 календарных дней с 31 декабря по 4 января: 31 декабря 2021 г. - дополнительный выходной, 1 января 2022 г. - праздничный нерабочий день, 2 января (воскресение), 3 января (понедельник) - дополнительный выходной, 4 января (вторник) - дополнительный выходной или перенос за счет субботы 8 января.</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="centerContent column-td gap-20 mt-30">
              <h3 class="h3">Календарь в Узбекистане 2022</h3>
              <div class="calendarImage">
                <img src="/desktop/img/calendar-desktop.png" alt="calendar">
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-50">
            <h3 class="h3">Исторические даты празднуемые в Узбекистане</h3>
            <div class="overflow_scroll">
              <table class="holidays_table">
                <thead>
                  <tr class="holidays_tableRow tableHead">
                    <th class="th">Дата</th>
                    <th class="th">Название праздника</th>
                    <th class="th">Тип дня</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-50">
            <h3 class="h3">Международные праздники празднуемые в Узбекистане</h3>
            <div class="overflow_scroll">
              <table class="holidays_table">
                <thead>
                  <tr class="holidays_tableRow tableHead">
                    <th class="th">Дата</th>
                    <th class="th">Название праздника</th>
                    <th class="th">Тип дня</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">1 января</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-50">
            <h3 class="h3">Международные праздники празднуемые в Узбекистане</h3>
            <div class="overflow_scroll">
              <table class="holidays_table">
                <thead>
                  <tr class="holidays_tableRow tableHead">
                    <th class="th">Год</th>
                    <th class="th">Название</th>
                    <th class="th">Президент</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="holidays_tableRow">
                    <td class="td">2022 г.</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">2022 г.</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                  <tr class="holidays_tableRow">
                    <td class="td">2022 г.</td>
                    <td class="td">День памяти и почестей (День победы)</td>
                    <td class="td red">Выходной</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>