<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Курс доллара, рубля, евро и франка к суму в Узбекистане</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/kurs_valyut-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Курсы валют</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Курс доллара, рубля, евро и франка к суму в Узбекистане</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="column-td gap-20">
            <p>* Курсы установлены без обязательств Центрального банка Республики Узбекистан покупать или продавать валюты по данному курсу</p>
            <p>C 15 февраля 2021 г. ЦБ начал устанавливать курсы иностранных валют к суму для ведения бухгалтерского учета, статистической и иной отчетности, а также исчисления таможенных и других обязательных платежей каждый банковский рабочий день в 16.00 с расчетами на завтра.</p>
            <p>Коммерческий курс (покупка-продажа доллара США и евро) приведен по данным Национального банка Республики Узбекистан (НБУ ВЭД РУз). Курс продажи и покупки в разных банках отличается друг от друга.</p>
          </div>
          <div class="column-td gap-12 mt-20">
            <p><a href="#" class="arrowLink">Покупка - продажа USD в обменниках коммерских банков</a></p>
            <p><a href="#" class="arrowLink">Курс покупки-продажи российского рубля в обменниках коммерских банков Узбекистана</a></p>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="text-center">Курс доллара, рубля, евро и франка к суму в Узбекистане в 2022 году</h3>
            <div class="rowFlex">
              <div class="column-td gap-4 max-w-200">
                <p class="key">Сегодня: 16.06.2022 года</p>
                <p class="update_time">Обновлено: 14.06.2022</p>
              </div>
              <div class="column-td gap-16 flex-end">
                <form class="date_viewever">
                  <div class="row-td">
                    <label for="date_time">Выбрать дату:</label>
                    <input type="date" name="date_time" id="date_time">
                  </div>  
                  <button type="submit">Показать</button>
                </form>
                <div class="date_changer_div">
                  <a href="#">пн 09 июн.</a>
                  <a href="#">вт 10 июн.</a>
                  <a href="#">ср 11 июн.</a>
                  <a href="#">ср 11 июн.</a>
                  <a href="#">ср 11 июн.</a>
                </div>
              </div>
            </div>
            <div class="overflow_scroll">
              <table class="kurs_valyut_table">
                <thead>
                  <tr>
                    <th>Курсы валют по ЦБ Республики Узбекистан 2022</th>
                    <th>
                      <div>покупка</div>
                      <div>продажа</div>
                    </th>
                    <th>
                      <div>покупка</div>
                      <div>продажа</div>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div>№ недели</div>
                      <div>
                        <span>Период</span>
                        <span>(время действия курса)</span>
                      </div>
                      <div>
                        <span>1 USD</span>
                        <span>(Доллар США)</span>
                      </div>
                      <div>
                        <span>1 RUB</span>
                        <span>(Российский рубль)</span>
                      </div>
                      <div>
                        <span>1 EUR</span>
                        <span>(Евро)</span>
                      </div>
                      <div>
                        <span>1 СHF</span>
                        <span>(Швейцарский франк)</span>
                      </div>
                    </th>
                    <th>
                      <span>1 USD</span>
                      <span>По НБ ВЭД РУз</span>
                    </th>
                    <th>
                      <span>1 EUR</span>
                      <span>По НБ ВЭД РУз</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>46</div>
                      <div>16.11.21 - 16.11.21</div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>46</div>
                      <div>16.11.21 - 16.11.21</div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>46</div>
                      <div>16.11.21 - 16.11.21</div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="contentCenter">
              <button class="centeredBtn">Показать еще</button>
            </div>
          </div>
          <div class="column-td gap-20 mt-50">
            <h3 class="text-center">Архив валют (курс сума) в Узбекистане</h3>
            <div class="wrapDiv">
              <a href="#" class="wrapLink">за 2020</a>
              <a href="#" class="wrapLink">за 2020</a>
              <a href="#" class="wrapLink">за 2020</a>
              <a href="#" class="wrapLink more">Смотреть все</a>
            </div>
            <div class="overflow_scroll">
              <table class="kurs_valyut_table">
                <thead>
                  <tr>
                    <th>Курсы валют по ЦБ Республики Узбекистан 2022</th>
                    <th>
                      <div>покупка</div>
                      <div>продажа</div>
                    </th>
                    <th>
                      <div>покупка</div>
                      <div>продажа</div>
                    </th>
                  </tr>
                  <tr>
                    <th>
                      <div>№ недели</div>
                      <div>
                        <span>Период</span>
                        <span>(время действия курса)</span>
                      </div>
                      <div>
                        <span>1 USD</span>
                        <span>(Доллар США)</span>
                      </div>
                      <div>
                        <span>1 RUB</span>
                        <span>(Российский рубль)</span>
                      </div>
                      <div>
                        <span>1 EUR</span>
                        <span>(Евро)</span>
                      </div>
                      <div>
                        <span>1 СHF</span>
                        <span>(Швейцарский франк)</span>
                      </div>
                    </th>
                    <th>
                      <span>1 USD</span>
                      <span>По НБ ВЭД РУз</span>
                    </th>
                    <th>
                      <span>1 EUR</span>
                      <span>По НБ ВЭД РУз</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>46</div>
                      <div>16.11.21 - 16.11.21</div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>46</div>
                      <div>16.11.21 - 16.11.21</div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>46</div>
                      <div>16.11.21 - 16.11.21</div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="positive">+1.06</span>
                      </div>
                      <div>
                        <span>10 721.24</span>
                        <span class="negative">-1.06</span>
                      </div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                    <td>
                      <div>11 035</div>
                      <div>11 035</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="contentCenter">
              <button class="centeredBtn">Показать еще</button>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <p>В данной таблице представлена информация об отношении курса узбекского сума - национальной валюты Республики Узбекистан, к основным иностранным валютам используемым в Узбекистане для ведения бухгалтерского учета, статистической и иной отчетности по валютным операциям, а также исчисления таможенных и других обязательных платежей*. Курс узбекского сума к доллару США, российскому рублю, евро и швейцарскому франку приведен по курсу ЦБ Республики Узбекистана.</p>
            <p>Коммерческий курс (покупка-продажа доллара США и евро) приведен по данным Национального банка Республики Узбекистан (НБУ ВЭД РУз). Курс продажи и покупки в разных банках отличается друг от друга.</p>
            <p><a href="#" class="arrowLink">Посмотреть курс покупки-продажи доллара США в разрезе других коммерских банков Узбекистана </a></p>
            <p>C 15 февраля 2021 г. ЦБ начал устанавливать курсы иностранных валют к суму для ведения бухгалтерского учета, статистической и иной отчетности, а также исчисления таможенных и других обязательных платежей каждый банковский рабочий день в 16.00 с расчетами на завтра.</p>
          </div>
          <div class="column-td gap-20 mt-30">
            <h4>Курс доллара США (USD), российского рубля (RUR), евро (EURO) и швейцарского франка (CHF) к узбекскому суму на сегодня - 16.06.2022 года и другие даты приведен по курсу ЦБ Республики Узбекистан.</h4>
            <div class="column-td gap-16">
              <p>Согласно Указа Президента Республики Узбекистан от 2 сентября 2017 года №УП-5177 «О первоочередных мерах по либерализации валютной политики», согласно которому одним из приоритетных направлений государственной экономической политики в области дальнейшей либерализации валютного рынка определены «исключительное использование рыночных механизмов при установлении курса национальной валюты по отношению к иностранной валюте» с 5 сентября 2017 установлен рыночный курс обмена валют на узбекский сум.</p>
              <p>До 20 августа 2019 года ЦБ РУз устанавливал каждый понедельник курс доллара как среднее значение курсов, зафиксированных на торгах валютной биржи на предыдущей неделе, который применялся для целей бухгалтерского учета, статистической и иной отчетности по валютным операциям, а также для исчисления таможенных и других обязательных платежей на территории Республики Узбекистан.</p>
              <p>После 20 августа ЦБ РУз не будет устанавливать цены (отменен ежедневный лимит в 0,5% на курсовые колебания) на продажу и покупку валюты, эта цена будет формироваться самостоятельно на рынке. Также с 20 августа коммерческим банкам разрешена продажа наличной иностранной валюты через обменные пункты с идентификацией клиента (т.е. предъявление паспорта клиента).</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h4>Валюта Узбекистана:</h4>
            <div class="column-td gap-16">
              <div class="column-td">
                <p>Национальная валюта Узбекистана - сум (UZS, код 153), была введена в обращение 1 июля 1994 г.</p>
                <p>1 сум состоит из 100 тийинов.</p>
                <p>Существовали следующие виды банкнот - 1, 3, 5, 10, 25, 50, 100, 200, 500, 1 000, с 1 июля 2013 г - 5 000 сум, с 10 марта 2017г. - 10 000 сум, с 22 августа 2017г. - 50 000 сум с 22 февраля 2019 - 100 000 сум и с 14 июня 2021г - 2 000 сум и 20 000 сум. Банкноты номиналом меньше 1 000 сум выведены из оборота с 1 июля 2020 г..</p>
                <p>Со 2 июля 2018г в обращение выходят новые монеты 50 (пятьдесят), 100 (сто), 200 (двести), 500 (пятьсот) сумов.</p>
              </div>
              <div class="column-td">
                <p>Наряду с находящимися в обращении денежными знаками, выпускаемые в обращение монеты обязательны к приему по нарицательной стоимости во всех видах платежей всеми хозяйствующими субъектами и населением без ограничений.</p>
                <p>Находящиеся в обращение монеты 50 сумов образца 2001−2002 годов, монеты 100 сумов образца 2004 года и 2009 года, а также банкноты 50 и 100 сумов образца 1994 года будут приниматься ко всем видам платежей без ограничений до 1 июля 2019 года. Поступающие в кассы банков эти банкноты и монеты не допускаются к обратному выпуску в обращение.</p>
              </div>
              <div class="column-td">
                <p>Сум является единственным законным платежным средством на территории Республики Узбекистан (статья 122 Конституции Республики Узбекистан и статьей 11 Закона "Об основах Государственной независимости Республики Узбекистан" , а также постановлением Верховного Совета Республики Узбекистан от 3 сентября 1993 года № 952-XII).</p>
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h4>Внешний вид банкнот национальной валюты Узбекистана:</h4>
            <div class="kupyura_container">
              <div class="kupyura">
                <div class="kupyura_imgContainer">
                  <div class="kupyura_imgDiv">
                    <p>Лицевая сторона</p>
                    <div class="kupyura_img">
                      <img src="/desktop/img/k100-front-desktop.png" alt="kupyura 100 000">
                    </div>
                  </div>
                  <div class="kupyura_imgDiv">
                    <p>Обратная сторона</p>
                    <div class="kupyura_img">
                      <img src="/desktop/img/k100-back-desktop.png" alt="kupyura 100 000">
                    </div>
                  </div>
                </div>
                <div class="kupyura_content">
                  <div class="keyValueDiv">
                    <div class="keyValueText"><span class="key">Номинал (сум):</span> 100 000</div>
                    <div class="keyValueText"><span class="key">Размеры (мм):</span> 144*78</div>
                    <div class="keyValueText"><span class="key">Основные цвета:</span> светло-коричневый</div>
                    <div class="keyValueText"><span class="key">Изображения на обрaтной стороне банкнот:</span> Лицевая сторона - памятник Мирзо Улугбеку, оборотная сторона - изображение обсерватории Мирзо Улугбека</div>
                    <div class="keyValueText"><span class="key">Год запуска в обращение:</span> 22 февраля 2019</div>
                    <div class="keyValueText"><span class="key">Дата вывода из обращения:</span> в обращении</div>
                  </div>
                </div>
              </div>
              <div class="kupyura">
                <div class="kupyura_imgContainer">
                  <div class="kupyura_imgDiv">
                    <p>Лицевая сторона</p>
                    <div class="kupyura_img">
                      <img src="/desktop/img/k100-front-desktop.png" alt="kupyura 100 000">
                    </div>
                  </div>
                  <div class="kupyura_imgDiv">
                    <p>Обратная сторона</p>
                    <div class="kupyura_img">
                      <img src="/desktop/img/k100-back-desktop.png" alt="kupyura 100 000">
                    </div>
                  </div>
                </div>
                <div class="kupyura_content">
                  <div class="keyValueDiv">
                    <div class="keyValueText"><span class="key">Номинал (сум):</span> 100 000</div>
                    <div class="keyValueText"><span class="key">Размеры (мм):</span> 144*78</div>
                    <div class="keyValueText"><span class="key">Основные цвета:</span> светло-коричневый</div>
                    <div class="keyValueText"><span class="key">Изображения на обрaтной стороне банкнот:</span> Лицевая сторона - памятник Мирзо Улугбеку, оборотная сторона - изображение обсерватории Мирзо Улугбека</div>
                    <div class="keyValueText"><span class="key">Год запуска в обращение:</span> 22 февраля 2019</div>
                    <div class="keyValueText"><span class="key">Дата вывода из обращения:</span> в обращении</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>