<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Курс доллара в Узбекистане на сегодня. Лучший курс доллара в банках Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/lucwiye_kursi-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Курс доллара в Узбекистане на сегодня. Лучший курс доллара в банках Узбекистана</h1>
      </div>
      <!-- === Main content starts here! === -->
      <div class="mainMiniContainer mt-15">
        <div class="column-td gap-16 mt-20">
          <h2>Курс обмена доллара США к узбекскому суму в обменниках банков Узбекистана</h2>
          <div class="column-td gap-12">
            <h5>Прогноз курса доллара на среду 02.02.2022: падение на 10 - 15 сум</h5>
            <p class="gray">Обновлено: сегодня 14.06.2022 г. 09.55.00</p>
          </div>
        </div>
        <div class="mt-20">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Покупка</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Продажа</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="column-td">
                <div class="column-td mt-20">
                  <div class="rowFlex">
                    <p class="key">Курс ЦБ:</p>
                    <div class="value">10 721.24 сум</div>
                  </div>
                  <div class="rowFlex">
                    <p class="key">Курс покупки:</p>
                    <div class="value">от <span class="orange">10 721.24</span> - <span class="red">10 721.24</span> сум</div>
                  </div>
                  <div class="rowFlex">
                    <p class="key">Курс продажи:</p>
                    <div class="value">от <span class="orange">10 721.24</span> - <span class="red">10 721.24</span> сум</div>
                  </div>
                </div>
                <table class="lucwiye_kursi_table">
                  <thead>
                    <tr>
                      <th>Название банка</th>
                      <th>
                        <a href="#">Покупка USD</a>
                        <p class="mini_gray_text">у населения</p>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <a href="#">"ASIA ALLIANCE BANK" АКБ</a>
                        <a href="#">Тел: +998 71 231 60 00</a>
                      </td>
                      <td>
                        <p>10 721.24</p>
                        <p class="negative">-1.06</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <a href="#">"ASIA ALLIANCE BANK" АКБ</a>
                        <a href="#">Тел: +998 71 231 60 00</a>
                      </td>
                      <td>
                        <p>10 721.24</p>
                        <p class="negative">-1.06</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="column-td mt-20">
                <p>Курсы покупки-продажи долларов США приведены по данным взятых с официальных сайтов самих банков на день обновления. В некоторых случаях информация о курсе покупки-продажи была получена посредством звонка в сам банк. Для сравнения приведен курс обмена за прошлый период действия. Курс обмена в самом банке может отличаться от указанного в связи с резким изменением курса в моменте. Курсы покупки-продажи доллара США в обменниках банков приведены только для предварительного ознакомления.</p>
              </div>
              <div class="column-td gap-16 mt-20">
                <h2 class="red">Перед поездкой в обменный пункт (отделение банка) необходимо предварительно позвонить туда и уточнить актуальный курс и есть ли в наличии у них сумма достаточная для Вашего обмена. Иногда случается, что в обменнике не достаточно наличности для обмена, особенно если сумма достаточно велика!</h2>
                <p>Во всех обменниках относящихся к опеределенному банку курс обмена будет одинаков.</p>
              </div>
              <div class="column-td gap-16 mt-20">
                <h2>Особые условия покупки доллара США в обменных пунктах банков Узбекистана.</h2>
                <div class="column-td">
                  <p>C 1 сентября 2020 г продажа-покупка иностранной валюты в любом размере в банковских обменных пунктах осуществляется без снятия копии паспорта. Однако паспорт при покупке более 100 долларов США Вам необходим т.е. кассиры введут данные паспорта в компьютер.</p>
                  <p>До этого момента (в период с 19 октября 2019 г по 31 августа 2020 г.) продажа банками иностранной валюты осуществлялась без без каких-либо документов, удостоверяющих личность в размере до 100 долларов США включительно. Если более 100 долларов, то требовался паспорт с которого снимали копию. Покупка любой суммы банками происходила без каких либо документов.</p>
                </div>
              </div>
              <span class="gray_border"></span>
              <div class="column-td gap-16 mt-20">
                <h2>В рамках реализации мер по дальнейшей либерализации валютного рынка с 20 августа 2019. коммерческими банками Узбекистана начата продажа иностранной валюты в наличной форме через обменные пункты.</h2>
                <div class="column-td gap-16">
                  <p>До 20 августа 2019 г купить иностранную валюту можно было только в конверсионных отделах коммерческих банков в безналичной форме с зачислением купленной иностранной валюты на международную платежную карту (конверсионную)</p>
                  <p>* Прогноз курса доллара в Узбекистане: это вероятностное суждение о будущем курса доллара США относительно узбекского сума основанное на текущей тенденции на следующий период действия обменных курсов. Приведена только для ознакомления.</p>
                </div>
              </div>
              <span class="gray_border"></span>
              <div class="column-td gap-16 mt-20">
                <h2>Результаты оценки качества предоставления банковских услуг в г. Ташкенте</h2>
                <div class="column-td gap-16">
                  <div class="column-td gap-16">
                    <p>В ноябре 2020 года ЦБ Республики Узбекистан провел опрос среди потребителей банковских услуг касательно качества предоставления банками своих услуг. Результаты опроса приведены ниже.</p>
                    <p>Критерии опроса</p>
                  </div>
                  <div class="column-td">
                    <p>Изучение проводилось в виде блиц-интервью клиентов коммерческих банков, в котором приняло участие 1 092 респондентов (450 – физических лиц и 642 – субъектов предпринимательства).</p>
                    <p>Опрос по оценке качества предоставления банковских услуг в коммерческих банках был основан на четырёх критериях (надежность, компетенция, отзывчивость и поддержка клиентов).</p>
                  </div>
                </div>
              </div>
              <div class="column-td gap-16 mt-20">
                <div class="banki_img">
                  <img src="/mobile/img/lucwiye_banki-mobile.png" alt="lucwiye banki">
                </div>
                <h2 class="red">Необходимо отметить, что результаты данного изучения сформированы исключительно из взглядов и мнений потребителей банковских услуг, выраженных в ходе опроса, и не являются позицией Центрального банка.</h2>
              </div>
              <span class="gray_border"></span>
              <div class="column-td gap-16 mt-20">
                <h2>Таблица объемов покупки- продажи иностранной валюты физическими лицами в Республике Узбекистан через банковскую систему Узбекистана с момента открытия свободной покупки-продажи иностранной валюты (20 августа 2019 года), а также объем поступлений в Узбекистан через систему международных денежных переводов</h2>
                <div class="overflow_scroll">
                  <table class="secondary_table">
                    <thead>
                      <th>Год</th>
                      <th>Месяц</th>
                      <th>Объем денежных переводов (млн.$)</th>
                      <th>Покупка у населения (млн.$)</th>
                      <th>Продажа населению (млн.$)</th>
                      <th>Сальдо (млн.$)</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2022</td>
                        <td>Январь</td>
                        <td>506.1</td>
                        <td>464.2</td>
                        <td>613.6</td>
                        <td>-149.4</td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Январь</td>
                        <td>506.1</td>
                        <td>464.2</td>
                        <td>613.6</td>
                        <td>-149.4</td>
                      </tr>
                      <tr>
                        <td>2022</td>
                        <td>Январь</td>
                        <td>506.1</td>
                        <td>464.2</td>
                        <td>613.6</td>
                        <td>-149.4</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="column-td gap-16 mt-20">
                <h2>Теги запроса</h2>
                <div class="overflow_scroll">
                  <div class="wrapDiv">
                    <div><a href="#" class="wrapLink">EVOS Ташкент</a></div>
                    <div><a href="#" class="wrapLink">EVOS телефоны</a></div>
                    <div><a href="#" class="wrapLink">EVOS телефоны</a></div>
                    <div><a href="#" class="wrapLink">EVOS телефоны</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
          </div>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>