<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Курс доллара в Узбекистане на сегодня. Лучший курс доллара в банках Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/lucwiye_kursi-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Курс доллара в Узбекистане на сегодня. Лучший курс доллара в банках Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="column-td gap-20">
            <div class="column-td gap-8">
              <h3 id="title_h3">Курс обмена доллара США к узбекскому суму в обменниках банков Узбекистана</h3>
              <div class="black_h3_rowFlex">
                <h3>Прогноз курса доллара на среду: падение на 10 - 15 сум</h3>
                <svg class="kurs_arrow" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.251 -1.37691e-06L6.00098 8.25L0.750977 0L11.251 -1.37691e-06Z" fill="currentColor"/>
                </svg>
              </div>
            </div>
            <div class="rowFlex">
              <div class="gray_text">Обновлено: сегодня 14.06.2022 г. 09.55.00</div>
              <div class="currencyDiv">
                <a href="#" class="currency_link rubl">
                  <span>Курс рубля</span> 
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6758 14.4422C14.9911 14.4422 16.2525 13.9197 17.1826 12.9896C18.1127 12.0596 18.6352 10.7981 18.6352 9.48281C18.6352 8.1675 18.1127 6.90607 17.1826 5.976C16.2525 5.04594 14.9911 4.52344 13.6758 4.52344H6.375V6.02344H8.24733V12.9422H6.375V14.4422H8.24733V16.5H6.375V18H8.24733V20.625H9.74733V18H14.25V16.5H9.74733V14.4422H13.6758ZM9.74733 6.02344H13.6758C14.1301 6.02344 14.5799 6.11292 14.9996 6.28677C15.4193 6.46062 15.8007 6.71543 16.1219 7.03667C16.4432 7.3579 16.698 7.73926 16.8718 8.15897C17.0457 8.57868 17.1352 9.02852 17.1352 9.48281C17.1352 9.9371 17.0457 10.3869 16.8718 10.8067C16.698 11.2264 16.4432 11.6077 16.1219 11.929C15.8007 12.2502 15.4193 12.505 14.9996 12.6789C14.5799 12.8527 14.1301 12.9422 13.6758 12.9422H9.74733V6.02344Z" fill="#114ECF"/>
                  </svg>
                </a>
                <a href="#" class="currency_link">Курс ЦБ</a>
              </div>
            </div>
            <div class="column-td gap-16">
              <div class="overflow_scroll">
                <table class="main_table">
                  <thead>
                    <tr>
                      <th>Название банка</th>
                      <th>
                        <div>
                          <span>Курс доллара на сегодня:</span>
                          <span class="gray_text">(Пятница 29.04.22)</span>
                        </div>
                        <div>
                          <span>Курс ЦБ РУз: 152.76 сум</span>
                          <span class="gray_text">(за 1 доллар)</span>
                        </div>
                        <div>
                          <div>
                            <span>Покупка</span>
                            <span class="gray_text">(у населения)</span>
                            <div>
                              <span class="orange">10 721.24</span>
                              <span class="red">10 721.24</span></div>
                          </div>
                          <div>
                            <span>Продажа</span>
                            <span class="gray_text">(населению)</span>
                            <div>
                              <span class="orange">10 721.24</span>
                              <span class="red">10 721.24</span></div>
                          </div>
                        </div>
                      </th>
                      <th>
                        <div>
                          <span>Курс доллара на сегодня:</span>
                          <span class="gray_text">(Пятница 29.04.22)</span>
                        </div>
                        <div>
                          <span>Курс ЦБ РУз: 152.76 сум</span>
                          <span class="gray_text">(за 1 доллар)</span>
                        </div>
                        <div>
                          <div>
                            <span>Покупка</span>
                            <span class="gray_text">(у населения)</span>
                            <div>
                              <span class="orange">10 721.24</span>
                              <span class="red">10 721.24</span></div>
                          </div>
                          <div>
                            <span>Продажа</span>
                            <span class="gray_text">(населению)</span>
                            <div>
                              <span class="orange">10 721.24</span>
                              <span class="red">10 721.24</span></div>
                          </div>
                        </div>
                      </th>
                      <th>
                        <div>
                          <span>Курс доллара на сегодня:</span>
                          <span class="gray_text">(Пятница 29.04.22)</span>
                        </div>
                        <div>
                          <span>Курс ЦБ РУз: 152.76 сум</span>
                          <span class="gray_text">(за 1 доллар)</span>
                        </div>
                        <div>
                          <div>
                            <span>Покупка</span>
                            <span class="gray_text">(у населения)</span>
                            <div>
                              <span class="orange">10 721.24</span>
                              <span class="red">10 721.24</span></div>
                          </div>
                          <div>
                            <span>Продажа</span>
                            <span class="gray_text">(населению)</span>
                            <div>
                              <span class="orange">10 721.24</span>
                              <span class="red">10 721.24</span></div>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>r</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <p>Курсы покупки-продажи долларов США приведены по данным взятых с официальных сайтов самих банков на день обновления. В некоторых случаях информация о курсе покупки-продажи была получена посредством звонка в сам банк. Для сравнения приведен курс обмена за прошлый период действия. Курс обмена в самом банке может отличаться от указанного в связи с резким изменением курса в моменте. Курсы покупки-продажи доллара США в обменниках банков приведены только для предварительного ознакомления.</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-20">
            <div class="column-td gap-16">
              <h3>Перед поездкой в обменный пункт (отделение банка) необходимо предварительно позвонить туда и уточнить актуальный курс и есть ли в наличии у них сумма достаточная для Вашего обмена. Иногда случается, что в обменнике не достаточно наличности для обмена, особенно если сумма достаточно велика!</h3>
              <p>Во всех обменниках относящихся к опеределенному банку курс обмена будет одинаков.</p>
            </div>
            <div class="column-td gap-16 black_h3">
              <h3>Особые услови покупки доллара США в обменных пунктах банков Узбекистана.</h3>
              <div class="column-td">
                <p>C 1 сентября 2020 г продажа-покупка иностранной валюты в любом размере в банковских обменных пунктах осуществляется без снятия копии паспорта. Однако паспорт при покупке более 100 долларов США Вам необходим т.е. кассиры введут данные паспорта в компьютер.</p>
                <p>До этого момента (в период с 19 октября 2019 г по 31 августа 2020 г.) продажа банками иностранной валюты осуществлялась без без каких-либо документов, удостоверяющих личность в размере до 100 долларов США включительно. Если более 100 долларов, то требовался паспорт с которого снимали копию. Покупка любой суммы банками происходила без каких либо документов.</p>
              </div>
            </div>
          </div>
          <span class="gray_border"></span>
          <div class="column-td gap-20 mt-30 black_h3">
            <h3>В рамках реализации мер по дальнейшей либерализации валютного рынка с 20 августа 2019. коммерческими банками Узбекистана начата продажа иностранной валюты в наличной форме через обменные пункты.</h3>
            <div class="column-td gap-16">
              <p>До 20 августа 2019 г купить иностранную валюту можно было только в конверсионных отделах коммерческих банков в безналичной форме с зачислением купленной иностранной валюты на международную платежную карту (конверсионную)</p>
              <p>* Прогноз курса доллара в Узбекистане: это вероятностное суждение о будущем курса доллара США относительно узбекского сума основанное на текущей тенденции на следующий период действия обменных курсов. Приведена только для ознакомления.</p>
            </div>
          </div>
          <span class="gray_border"></span>
          <div class="column-td gap-16 mt-30">
            <h3>Результаты оценки качества предоставления банковских услуг в г. Ташкенте</h3>
            <div class="column-td gap-16">
              <p>В ноябре 2020 года ЦБ Республики Узбекистан провел опрос среди потребителей банковских услуг касательно качества предоставления банками своих услуг. Результаты опроса приведены ниже.</p>
              <p>Критерии опроса</p>
              <div class="column-td">
                <p>Изучение проводилось в виде блиц-интервью клиентов коммерческих банков, в котором приняло участие 1 092 респондентов (450 – физических лиц и 642 – субъектов предпринимательства).</p>
                <p>Опрос по оценке качества предоставления банковских услуг в коммерческих банках был основан на четырёх критериях (надежность, компетенция, отзывчивость и поддержка клиентов).</p>
              </div>
            </div>
            <div class="contentCenter column-td gap-30">
              <div class="lucwiye_banki_img">
                <img src="/desktop/img/lucwiye_banki-desktop.png" alt="lucwiye banki">
              </div>
              <h3 class="red">Необходимо отметить, что результаты данного изучения сформированы исключительно из взглядов и мнений потребителей банковских услуг, выраженных в ходе опроса, и не являются позицией Центрального банка.</h3>
            </div>
          </div>
          <span class="gray_border"></span>
          <div class="column-td gap-20 mt-30">
            <h3>Таблица объемов покупки- продажи иностранной валюты физическими лицами в Республике Узбекистан через банковскую систему Узбекистана с момента открытия свободной покупки-продажи иностранной валюты (20 августа 2019 года), а также объем поступлений в Узбекистан через систему международных денежных переводов</h3>
            <div class="overflow_scroll">
              <table class="secondary_table">
                <thead>
                  <th>Год</th>
                  <th>Месяц</th>
                  <th>Объем денежных переводов (млн.$)</th>
                  <th>Покупка у населения (млн.$)</th>
                  <th>Продажа населению (млн.$)</th>
                  <th>Сальдо (млн.$)</th>
                </thead>
                <tbody>
                  <tr>
                    <td>2022</td>
                    <td>Январь</td>
                    <td>506.1</td>
                    <td>464.2</td>
                    <td>613.6</td>
                    <td>-149.4</td>
                  </tr>
                  <tr>
                    <td>2022</td>
                    <td>Январь</td>
                    <td>506.1</td>
                    <td>464.2</td>
                    <td>613.6</td>
                    <td>-149.4</td>
                  </tr>
                  <tr>
                    <td>2022</td>
                    <td>Январь</td>
                    <td>506.1</td>
                    <td>464.2</td>
                    <td>613.6</td>
                    <td>-149.4</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3>Теги страницы</h3>
            <div class="wrapDiv">
              <a href="#" class="wrapLink">EVOS Ташкент</a>
              <a href="#" class="wrapLink">EVOS телефоны</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink">филилы EVOS</a>
              <a href="#" class="wrapLink more">Ещё</a>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>