<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Карта Ташкента: Улицы и районы на онлайн карте Ташкента</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/map-tashkent-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Карта Ташкента: Улицы и районы на онлайн карте Ташкента</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="mainBlock">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191885.5026409192!2d69.13928160987453!3d41.28251254468229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2z0KLQvtGI0LrQtdC90YIsIE9gemJla2lzdG9u!5e0!3m2!1suz!2s!4v1664451300259!5m2!1suz!2s" width="600" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="blockContent">
              <p class="desc_p">Карта Ташкента содержит названия всех улиц и районов, а также номера домов и местонахождением некоторых организациями. Это интерактивная карта Ташкента, позволяющая работать в режиме онлайн. Чтобы увеличить или уменьшить масштаб карты, используйте панель слева либо двойное нажатие левой кнопокой мыши по карте Ташкента. Сдвинуть карту Ташкента можно, удерживая левую кнопку мыши. Доступна также карта Ташкента в виде фотографий со спутника.</p>
              <div class="flex_block">
                <p class="bold_text">Где находится город Ташкент?</p>
                <p class="desc_p">Координаты Ташкента: 41.31° северной широты и 69.28° восточной долготы.</p>
              </div>
              <div class="otherBlock">
                <h3 class="h3">Площади районов города Ташкент:</h3>
                <div class="squaresDiv">
                  <div class="square">
                    <div class="regionDiv">
                      <svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
                      </svg>
                      <p class="region_text">Учтепинский район</p>
                    </div>
                    <p class="region_text">площадь 2 820 га или 28,2 км2</p>
                  </div>
                  <div class="square">
                    <div class="regionDiv">
                      <svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
                      </svg>
                      <p class="region_text">Учтепинский район</p>
                    </div>
                    <p class="region_text">площадь 2 820 га или 28,2 км2</p>
                  </div>
                  <div class="square">
                    <div class="regionDiv">
                      <svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
                      </svg>
                      <p class="region_text">Учтепинский район</p>
                    </div>
                    <p class="region_text">площадь 2 820 га или 28,2 км2</p>
                  </div>
                  <div class="square">
                    <div class="regionDiv">
                      <svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
                      </svg>
                      <p class="region_text">Учтепинский район</p>
                    </div>
                    <p class="region_text">площадь 2 820 га или 28,2 км2</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Ссылки по теме:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Карта Узбекистана - физическая карта Узбекистана</a></p>
              <p class="otherLink"><a href="#">Карта Узбекистана - физическая карта Узбекистана</a></p>
              <p class="otherLink"><a href="#">Карта Узбекистана - физическая карта Узбекистана</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>