<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Календарь выставок в Ташкенте в Узбекистане в 2022 г.</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/map-uzbekistan-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Карта Узбекистана, физическая карта Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="centerContent">
						<h3 class="h3">Карта Узбекистана</h3>
					</div>
					<div class="mapDiv">
						<div class="map"><img src="/desktop/img/map.png" alt="map"></div>
					</div>
          <div class="centerContent column-td">
						<h3 class="h3">Физическая карта Узбекистана</h3>
						<p class="desc_p">Примечание: При нажатии на <span class="light-blue span-btn">карту Узбекистана</span> , в отдельном окне открывается физическая карта Узбекистана в увеличенном виде.</p>
					</div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Ссылки по теме:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Карта Ташкента</a></p>
              <p class="otherLink"><a href="#">Смена АТС в Ташкенте, Узбекистан</a></p>
              <p class="otherLink"><a href="#">Новые автомобильные номера Узбекистана.</a></p>
              <p class="otherLink"><a href="#">Административно-территориальное деление Республики Узбекистан.</a></p>
              <p class="otherLink"><a href="#">Переименование названий улиц в Ташкенте</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>