<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Карта Узбекистана, физическая карта Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/map-uzbekistan-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Карта Узбекистана, физическая карта Узбекистана</h1>
      </div>
      <!-- === Main content starts here! === -->
      <div class="mainMiniContainer">
				<div class="centerContent column-td">
					<h3 class="h3">Карта Узбекистана</h3>
				</div>
				<div class="centerContent column-td">
					<h3 class="h3">Физическая карта Узбекистана</h3>
					<p class="desc_p">Примечание: При нажатии на <span class="span-btn light-blue">карту Узбекистана</span> , в отдельном окне открывается физическая карта Узбекистана в увеличенном виде.</span></p>
				</div>
        <div class="otherLinksDiv">
          <h4 class="h4">Ссылки по теме:</h4>
          <div class="otherLinks">
            <p class="otherLinkMini"><a href="#">Карта Ташкента</a></p>
            <p class="otherLinkMini"><a href="#">Смена АТС в Ташкенте, Узбекистан</a></p>
            <p class="otherLinkMini"><a href="#">Новые автомобильные номера Узбекистана.</a></p>
            <p class="otherLinkMini"><a href="#">Административно-территориальное деление Республики Узбекистан.</a></p>
            <p class="otherLinkMini"><a href="#">Переименование названий улиц в Ташкенте</a></p>
          </div>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>