<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Минимальная зарплата, минимальная пенсия, БРВ и МРОТ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/minimal_salary-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Минимальная зарплата, минимальная пенсия, БРВ и МРОТ</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td">
            <div class="navigationDiv">
              <p class="navigation_title">Навигация:</p>
              <div class="navigation_container">
                <a href="#" class="navigation_link">Минимальная заработная плата</a>
                <a href="#" class="navigation_link">Статистика “белых” зарплат в Узбекистане</a>
                <a href="#" class="navigation_link">Таблица изменения минимальной заработной платы и пенсии в Узбекистане</a>
                <a href="#" class="navigation_link">Что такое МРОТ в Узбекистане и его размер</a>
                <a href="#" class="navigation_link">Единая тарифная сетка по оплате труда в Узбекистане с 01.09.2021 г</a>
                <a href="#" class="navigation_link">Что такое БРВ в Узбекистане и его размер</a>
                <a href="#" class="navigation_link">Единая тарифная сетка по оплате труда в Узбекистане с 01.01.2019 г</a>
                <a href="#" class="navigation_link">Что такое базовая величина исчисления пенсии (БВИП) в Узбекистане и ее размер</a>
                <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              </div>
            </div>
          </div>
          <div class="column-td mt-50">
            <o class="desc_p">17 августа 2021 Президент Республики Узбекистан Шавкат Мирзиёев подписал постановление (УП-6279 от 17 августа 2021 г.) согласно которому с 1 сентября 2021 года повышается в 1,1 раза размер размеры заработной платы, пенсий, стипендий и пособий.</o>
          </div>
          <div class="column-td gap-12 mt-20">
            <h3 class="h3">Согласно этому документу с 1 сентября 2021 г. устанавливаются минимальные размеры:</h3>
            <ul class="column-td gap-20 ulDiv">
              <li><p class="desc_p">оплаты труда 822 000 сумов в месяц; (фактически это денежное выражение месячной тарифной ставки по первому разряду Единой тарифной сетки по оплате труда с тарифным коэффициентом 1, МРОТ), до 1 сентября 2019- МРЗП (223 000 сум)</p></li>
              <li><p class="desc_p">базовая величина исчисления пенсии - 289 000 сумов в месяц</p></li>
              <li><p class="desc_p">пособия инвалидам с детства в размере - 622 000 сумов в месяц</p></li>
              <li><p class="desc_p">пособия инвалидам с детства в размере - 622 000 сумов в месяц</p></li>
              <li><p class="desc_p">пособия инвалидам с детства в размере - 622 000 сумов в месяц</p></li>
            </ul>
          </div>
          <div class="column-td mt-30">
            <h3 class="h3">Средняя зарплата в Узбекистане</h3>
            <div class="column-td">
              <p class="desc_p">Согласно данным Госкомстата Республики Узбекистан средняя номинальная начисленная зарплата в Узбекистане (включая надбавки к заработной плате, вознаграждения, выплаты стимулирующего характера, компенсационные выплаты и оплату за неотработанное время, а также удерживаемый с физических лиц налог на доходы, отчисления на социальное страхование и в профсоюзный фонд)</p>
              <ul class="ulDiv column-td gap-20 mt-20">
                <li><p class="desc_p">Средняя зарплата в Узбекистане по итогам января - марта 2021 году - 2 800 000 сум (267,3 доллара по текущему курсу Центрального банка на 31 марта 2021 г.)</p></li>
                <li><p class="desc_p">Средняя зарплата в Узбекистане по итогам января - марта 2021 году - 2 800 000 сум (267,3 доллара по текущему курсу Центрального банка на 31 марта 2021 г.)</p></li>
                <li><p class="desc_p">Средняя зарплата в Узбекистане по итогам января - марта 2021 году - 2 800 000 сум (267,3 доллара по текущему курсу Центрального банка на 31 марта 2021 г.)</p></li>
                <li><p class="desc_p">Средняя зарплата в Узбекистане по итогам января - марта 2021 году - 2 800 000 сум (267,3 доллара по текущему курсу Центрального банка на 31 марта 2021 г.)</p></li>
              </ul>
            </div>
          </div>
          <div class="column-td mt-30 gap-30">
            <h3 class="h3">Статистика "белых" зарплат в Узбекистане за май 2020 и май 2021 гг.</h3>
            <div class="overflow_scroll">
              <table class="white_salary_table">
                <thead>
                  <tr class="white_salary_tableRow tableHead">
                    <th class="th">№</th>
                    <th class="th">Размер заработных плат</th>
                    <th class="th column-td padding_none">
                      <span class="inner_data bt_border border_none">Индексы</span>
                      <div class="grid2">
                        <span class="inner_data">Старые</span>
                        <span class="inner_data border_none">Новые</span>
                      </div>
                    </th>
                    <th class="th column-td padding_none">
                      <span class="inner_data bt_border border_none">Индексы</span>
                      <div class="grid2">
                        <span class="inner_data">Старые</span>
                        <span class="inner_data border_none">Новые</span>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="white_salary_tableRow">
                    <td class="td">1</td>
                    <td class="td">До 1 млн. сум</td>
                    <td class="td column-td padding_none">
                      <div class="grid2">
                        <span class="inner_data">1 772,5</span>
                        <span class="inner_data border_none">42,6%</span>
                      </div>
                    </td>
                    <td class="td column-td padding_none">
                      <div class="grid2">
                        <span class="inner_data">1 788,0</span>
                        <span class="inner_data border_none">38,3%</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="white_salary_tableRow">
                    <td class="td">1</td>
                    <td class="td">До 1 млн. сум</td>
                    <td class="td column-td padding_none">
                      <div class="grid2">
                        <span class="inner_data">1 772,5</span>
                        <span class="inner_data border_none">42,6%</span>
                      </div>
                    </td>
                    <td class="td column-td padding_none">
                      <div class="grid2">
                        <span class="inner_data">1 788,0</span>
                        <span class="inner_data border_none">38,3%</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="white_salary_tableRow">
                    <td class="td">1</td>
                    <td class="td">До 1 млн. сум</td>
                    <td class="td column-td padding_none">
                      <div class="grid2">
                        <span class="inner_data">1 772,5</span>
                        <span class="inner_data border_none">42,6%</span>
                      </div>
                    </td>
                    <td class="td column-td padding_none">
                      <div class="grid2">
                        <span class="inner_data">1 788,0</span>
                        <span class="inner_data border_none">38,3%</span>
                      </div>
                    </td>
                  </tr>
                  <tr id="bottomTable" class="white_salary_tableRow">
                    <td class="td"></td>
                    <td class="td">Всего</td>
                    <td class="td">4 161,3</td>
                    <td class="td">4 161,3</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td mt-30 gap-30">
            <h3 class="h3">Таблица изменения минимальной заработной платы и пенсии в Узбекистане</h3>
            <div class="overflow_scroll">
              <table class="minimal_pensiya_table">
                <thead>
                  <tr class="minimal_pensiya_tableRow tableHead">
                    <th class="th">Дата</th>
                    <th class="th">Средний объем повышения (в%)</th>
                    <th class="th">Минимальный размер оплаты труда (сум) (До 01.02.2020 - Минимальная заработная плата.)</th>
                    <th class="th">Минимальная пенсия по возрасту. (сум) (- мужчины от 60 лет и стаж работы не менее 25 лет; - женщины от 55 лет и стаж работы не менее 20 лет)</th>
                    <th class="th">Базовая расчетная величина (БРВ). (сум) (До 01.02.2020 Начальный (нулевой) разряд по единой тарифной сетке</th>
                    <th class="th">Пособия инвалидам с детства. (сум)</th>
                    <th class="th">Пособия престарелым и нетрудоспособным гражданам, не имеющим необходимого стажа работы. (сум)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="minimal_pensiya_tableRow">
                    <td class="td">01.09.2021</td>
                    <td class="td">10%</td>
                    <td class="td">822 000</td>
                    <td class="td">565 000</td>
                    <td class="td">270 000</td>
                    <td class="td">622 000</td>
                    <td class="td">440 000</td>
                  </tr>
                  <tr class="minimal_pensiya_tableRow">
                    <td class="td">01.09.2021</td>
                    <td class="td">10%</td>
                    <td class="td">822 000</td>
                    <td class="td">565 000</td>
                    <td class="td">270 000</td>
                    <td class="td">622 000</td>
                    <td class="td">440 000</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="contentCenter">
              <button type="button" class="centeredBtn">Показать еще</button>
            </div>
          </div>
          <div class="column-td gap-12 mt-30">
            <h3 class="h3">Что такое МРОТ в Узбекистане и его размер</h3>
            <div class="column-td gap-20">
              <div class="column-td">
                <p class="desc_p">Минимальный размер оплаты труда (МРОТ) денежное выражение месячной тарифной ставки по первому разряду Единой тарифной сетки (от 01.02.2021) оплаты труда с тарифным коэффициентом 1,0. МРОТ применяется в сфере трудовых отношений для определения суммы должностного оклада, надбавок, доплат, гонораров, компенсационных выплат за дополнительную работу и других видов выплат стимулирующего характера, а также удержаний, установленных законодательством, и других платежей, ранее установленных в отношении к МРЗП, а также определения нуждаемости семьи в социальной поддержке и размера пособия по безработице.</p>
              </div>
              <div class="column-td">
                <p class="desc_p">С 01.06.2022 года размер МРОТ в Узбекистане равен <span class="red">920 000 сум</span> в месяц</p>
                <p class="desc_p">С 01.09.2021 до 30.04.2022 года размер МРОТ в Узбекистане равен <spam class="red">822 000 сум</spam> в месяц</p>
              </div>
            </div>
          </div>
          <div class="column-td gap-12 mt-30">
            <h3 class="h3">Что такое БРВ в Узбекистане и его размер</h3>
            <div class="column-td gap-20">
              <div class="column-td">
                <p class="desc_p">Минимальный размер оплаты труда (МРОТ) денежное выражение месячной тарифной ставки по первому разряду Единой тарифной сетки (от 01.02.2021) оплаты труда с тарифным коэффициентом 1,0. МРОТ применяется в сфере трудовых отношений для определения суммы должностного оклада, надбавок, доплат, гонораров, компенсационных выплат за дополнительную работу и других видов выплат стимулирующего характера, а также удержаний, установленных законодательством, и других платежей, ранее установленных в отношении к МРЗП, а также определения нуждаемости семьи в социальной поддержке и размера пособия по безработице.</p>
              </div>
              <div class="column-td">
                <p class="desc_p">С 01.06.2022 года размер МРОТ в Узбекистане равен <span class="red">920 000 сум</span> в месяц</p>
                <p class="desc_p">С 01.09.2021 до 30.04.2022 года размер МРОТ в Узбекистане равен <spam class="red">822 000 сум</spam> в месяц</p>
              </div>
            </div>
          </div>
          <div class="column-td gap-12 mt-30">
            <h3 class="h3">Что такое базовая величина исчисления пенсии (БВИП) в Узбекистане и ее размер</h3>
            <div class="column-td gap-20">
              <div class="column-td">
                <p class="desc_p">Минимальный размер оплаты труда (МРОТ) денежное выражение месячной тарифной ставки по первому разряду Единой тарифной сетки (от 01.02.2021) оплаты труда с тарифным коэффициентом 1,0. МРОТ применяется в сфере трудовых отношений для определения суммы должностного оклада, надбавок, доплат, гонораров, компенсационных выплат за дополнительную работу и других видов выплат стимулирующего характера, а также удержаний, установленных законодательством, и других платежей, ранее установленных в отношении к МРЗП, а также определения нуждаемости семьи в социальной поддержке и размера пособия по безработице.</p>
              </div>
              <div class="column-td">
                <p class="desc_p">С 01.06.2022 года размер МРОТ в Узбекистане равен <span class="red">920 000 сум</span> в месяц</p>
                <p class="desc_p">С 01.09.2021 до 30.04.2022 года размер МРОТ в Узбекистане равен <spam class="red">822 000 сум</spam> в месяц</p>
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3">Единая тарифная сетка по оплате труда в Узбекистане с 01.09.2021 г</h3>
            <div class="overflow_scroll">
              <table class="single_tariff_table">
                <thead>
                  <tr class="single_tariff_tableRow tableHead">
                    <th class="th">Разряды оплаты труда</th>
                    <th class="th">Тарифные коэффициенты (установленные с 1.02.2020)</th>
                    <th class="th">Минимальный размер оплата труда (МРОТ) в Узбекистане согласно тарифному коэффиценту и размеру минимальной заработной платы от 01.09.21</th>
                    <th class="th">Минимальный размер оплата труда (МРОТ) в Узбекистане согласно тарифному коэффиценту и размеру минимальной заработной платы от 01.02.21</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="single_tariff_tableRow">
                    <td class="td">1</td>
                    <td class="td">822 000</td>
                    <td class="td">565 000</td>
                    <td class="td">440 000</td>
                  </tr>
                  <tr class="single_tariff_tableRow">
                    <td class="td">1</td>
                    <td class="td">822 000</td>
                    <td class="td">565 000</td>
                    <td class="td">440 000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3">Единая тарифная сетка по оплате труда в Узбекистане с 01.01.2019 г</h3>
            <div class="overflow_scroll">
              <table class="single_tariff_table">
                <thead>
                  <tr class="single_tariff_tableRow tableHead">
                    <th class="th">Разряды оплаты труда</th>
                    <th class="th">Тарифные коэффициенты (установленные с 1.02.2020)</th>
                    <th class="th">Минимальный размер оплата труда (МРОТ) в Узбекистане согласно тарифному коэффиценту и размеру минимальной заработной платы от 01.09.21</th>
                    <th class="th">Минимальный размер оплата труда (МРОТ) в Узбекистане согласно тарифному коэффиценту и размеру минимальной заработной платы от 01.02.21</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="single_tariff_tableRow">
                    <td class="td left-td">01.09.2021</td>
                    <td class="td">822 000</td>
                    <td class="td">565 000</td>
                    <td class="td">440 000</td>
                  </tr>
                  <tr class="single_tariff_tableRow">
                    <td class="td left-td">01.09.2021</td>
                    <td class="td">822 000</td>
                    <td class="td">565 000</td>
                    <td class="td">440 000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td mt-30">
            <p class="bold_p">C 01.09.2009 г до 1 января 2019 г. 1, 2, 3 разряды имели коэффицент 2,476; 2,725; 2,998 соответственно</p>
          </div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Возможно вам также будет интересно:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Текущие коммунальные тарифы + архив (горячая, холодная вода, отопление, электроэнергия, бытовой мусор, газ) в Ташкенте, Узбекистан</a></p>
              <p class="otherLink"><a href="#">Текущий курс доллара США, Рубля, Евро и Швейцарского франка к суму в Узбекистане по ЦБ Руз, а также курсы покупки продажи по Нац Банку РУз</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>