<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Старые автомобильные номера Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/oldcar-plates-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Старые автомобильные номера Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="column-td oldcar-desc">
						<p class="desc_p">Начиная с 1998 г. в Узбекистане принята новая система (Действовала с 1998 по 1 января 2013 года) кодирования автомобильных номеров зарегистрированных в Узбекистане. Согласно этой системе каждая область вместе с входящими в нее городами (за исключением Ташкента) получили цифровой код обозначающий принадлежность регистрации каждого автомобиля к конкретной области. Цифровой диапазон установлен от 10 -Ташкент до 23 - Каракалпакстан. В связи с тем, что количество номеров в г. Ташкенте привысило емкость номера, то для Ташкента был выделен дополнительный номер - 30.</p>						 
						<div class="column-td mt-25">
							<p class="desc_p">Номера узбекских автомобилей состоит из трех частей:</p>
							<div class="column-td">
								<p class="desc_p">1) код области (города) - от 10 до 23, 30</p>
								<p class="desc_p">2) буква (или две) латинского алфавита от "A" до "Z"; - две буквы означают, что автомобиль зарегистрирован на юридическое лицо</p>
								<p class="desc_p">3) самого номера - 4 цифры</p>
							</div>
						</div>						 
					</div>
					<table class="oldcarTable mt-30">
						<thead>
							<tr class="oldcarTableRow tableHead">
								<th class="column-td mini-th">
									<div class="th">Код региона</div>
									<div class="row-td">
										<div class="th">до 1998 г.</div>
										<div class="th">с 1998 по 2008 гг.</div>
									</div>
								</th>
								<th class="th">Регион</th>
								<th class="th">Площадь (км2)</th>
								<th class="th">Население (чел.)</th>
								<th class="th">на 01.10.12</th>
								<th class="th">Административный центр</th>
							</tr>
						</thead>
						<tbody>
							<tr class="oldcarTableRow">
								<td class="mini-th">
									<div class="row-td td-row">
										<div class="td">TH</div>
										<div class="td">10 или 30</div>
									</div>
								</td>
								<td class="td">г. Ташкент</td>
								<td class="td">111 000</td>
								<td class="td">2 339 600</td>
								<td class="td">2 813 800</td>
								<td class="td">Самарканд</td>
							</tr>
							<tr class="oldcarTableRow">
								<td class="mini-th">
									<div class="row-td td-row">
										<div class="td">TH</div>
										<div class="td">10 или 30</div>
									</div>
								</td>
								<td class="td">г. Ташкент</td>
								<td class="td">111 000</td>
								<td class="td">2 339 600</td>
								<td class="td">2 813 800</td>
								<td class="td">Самарканд</td>
							</tr>
							<tr class="oldcarTableRow">
								<td class="mini-th">
									<div class="row-td td-row">
										<div class="td">TH</div>
										<div class="td">10 или 30</div>
									</div>
								</td>
								<td class="td">г. Ташкент</td>
								<td class="td">111 000</td>
								<td class="td">2 339 600</td>
								<td class="td">2 813 800</td>
								<td class="td">Самарканд</td>
							</tr>
							<tr class="oldcarTableRow">
								<td class="mini-th">
									<div class="row-td td-row">
										<div class="td">TH</div>
										<div class="td">10 или 30</div>
									</div>
								</td>
								<td class="td">г. Ташкент</td>
								<td class="td">111 000</td>
								<td class="td">2 339 600</td>
								<td class="td">2 813 800</td>
								<td class="td">Самарканд</td>
							</tr>
						</tbody>
					</table>
          <div class="numberHistoryDiv">
						<div class="numberDiv">
							<div class="numberContent">
								<svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
								</svg>
								<p class="numberInfo">Внешний вид автомобильных номеров физлиц в Узбекистане до 1998 г.</p>
							</div>
							<div class="numberImg"><img src="/desktop/img/number.png" alt="number-image"></div>
						</div>
						<div class="numberDiv">
							<div class="numberContent">
								<svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
								</svg>
								<p class="numberInfo">Внешний вид автомобильных номеров физлиц в Узбекистане между 1998 и 2008 гг.</p>
							</div>
							<div class="numberImg"><img src="/desktop/img/number.png" alt="number-image"></div>
						</div>
						<div class="numberDiv">
							<div class="numberContent">
								<svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
								</svg>
								<p class="numberInfo">Внешний вид автомобильных номеров юридических лиц в Узбекистане между 1998 и 2008 гг.h</p>
							</div>
							<div class="numberImg"><img src="/desktop/img/number.png" alt="number-image"></div>
						</div>
					</div>
					<p class="desc_p">В настоящее время действует международная система автомобильных номеров. Посмотреть <span class="bottom_span"><a href="#">Новые автомобильные коды Узбекистана</a></span></p>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>