<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Цены на бензин в Ташкенте, Узбекистан</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/petrol_prices-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Цены на бензин в Ташкенте, Узбекистан</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td gap-20">
            <h3 class="h3">Стоимость бензина в Ташкенте, Узбекистан по состоянию на 30 мая 2022 г.: сум за 1 литр*</h3>
            <div class="overflow_scroll">
              <table class="petrol_price_table">
                <thead>
                  <tr class="petrol_price_tableRow tableHead">
                    <th class="th">Название заправки (сети заправок)</th>
                    <th class="th">АИ-80</th>
                    <th class="th">АИ-92</th>
                    <th class="th">АИ-95</th>
                    <th class="th">АИ-100</th>
                    <th class="th">Дизель</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="petrol_price_tableRow">
                    <td class="td">Сеть UNG (Uzbekneftegaz, Uzgazoil)</td>
                    <td class="td">6 500</td>
                    <td class="td">9 100</td>
                    <td class="td">10 000</td>
                    <td class="td column-td">
                      <span class="inner_data">10 900</span>
                      <span class="inner_data">(98-й)</span>
                    </td>
                    <td class="td">10 800</td>
                  </tr>
                  <tr class="petrol_price_tableRow">
                    <td class="td">Сеть UNG (Uzbekneftegaz, Uzgazoil)</td>
                    <td class="td">6 500</td>
                    <td class="td">9 100</td>
                    <td class="td">10 000</td>
                    <td class="td column-td">
                      <span class="inner_data">10 900</span>
                      <span class="inner_data">(98-й)</span>
                    </td>
                    <td class="td">10 800</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td mt-30">
            <p class="desc_p">* Информация собрана посредством информационных табло на самих заправках и отзывами пользователей в соцсетях.</p>
            <p class="desc_p">Для сравнения стоимость топлива в Узбекистане, Ташкент в долларах США по курсу ЦБ РУз (10 839.90сум за 1$) на 25 июня 2022 г. на примере цен UNG PETRO (Uzbekneftegaz)</p>
            <p class="desc_p">АИ-80 - 0,63 $</p>
            <p class="desc_p">АИ-92 - 0,87 $</p>
            <p class="desc_p">АИ-95 - 0,99 $</p>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3">Стоимость бензина в Ташкенте, Узбекистан по состоянию на 30 мая 2022 г.: сум за 1 литр*</h3>
            <div class="overflow_scroll">
              <table class="petrol_price_table">
                <thead>
                  <tr class="petrol_price_tableRow tableHead">
                    <th class="th">Название заправки (сети заправок)</th>
                    <th class="th">АИ-80</th>
                    <th class="th">АИ-92</th>
                    <th class="th">АИ-95</th>
                    <th class="th">АИ-100</th>
                    <th class="th">Дизель</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="petrol_price_tableRow">
                    <td class="td">Сеть UNG (Uzbekneftegaz, Uzgazoil)</td>
                    <td class="td">6 500</td>
                    <td class="td">9 100</td>
                    <td class="td">10 000</td>
                    <td class="td column-td">
                      <span class="inner_data">10 900</span>
                      <span class="inner_data">(98-й)</span>
                    </td>
                    <td class="td">10 800</td>
                  </tr>
                  <tr class="petrol_price_tableRow">
                    <td class="td">Сеть UNG (Uzbekneftegaz, Uzgazoil)</td>
                    <td class="td">6 500</td>
                    <td class="td">9 100</td>
                    <td class="td">10 000</td>
                    <td class="td column-td">
                      <span class="inner_data">10 900</span>
                      <span class="inner_data">(98-й)</span>
                    </td>
                    <td class="td">10 800</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td mt-30">
            <p class="desc_p">* Информация собрана посредством информационных табло на самих заправках и отзывами пользователей в соцсетях.</p>
            <p class="desc_p">Для сравнения стоимость топлива в Узбекистане, Ташкент в долларах США по курсу ЦБ РУз (10 839.90сум за 1$) на 25 июня 2022 г. на примере цен UNG PETRO (Uzbekneftegaz)</p>
            <p class="desc_p">АИ-80 - 0,63 $</p>
            <p class="desc_p">АИ-92 - 0,87 $</p>
            <p class="desc_p">АИ-95 - 0,99 $</p>
          </div>
          <div class="column-td mt-30">
            <p><a href="#" class="arrowLink">Посмотреть архив цен на бензин до декабря 2021 г.</a></p>
          </div>
          <span class="gray_border"></span>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Основные сети бензиновых заправочных станций в Узбекистане:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Сеть бензиновых заправок Mustang</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2013г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2012г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2011г</a></p>
            </div>
          </div>
          <span class="gray_border"></span>
          <div class="column-td gap-20 mt-30">
            <h3 class="h3">Почему растут и снижаются цены на бензин в Узбекистане:</h3>
            <div class="column-td gap-20">
              <div class="gridDiv">
                <div class="grid_image_div">
                  <img src="/desktop/img/petrol-desktop.png" alt="petrol image">
                </div>
                <div class="grid_text_div">
                  <p class="desc_p">15 декабря 2020 года, Министерство энергетики Узбекистана разъяснило, почему на разных автозаправочных станциях бензин отпускается по разным ценам, а импортный бензин может стоить дешевле, чем произведенный в Узбекистане, а также почему цены могут повышать и снижаться со временем.</p>
                  <p class="desc_p">С учётом того, что с 1 мая т.г. хозяйствующие субъекты, в том числе АЗС (автозаправочные станции) покупают бензин через биржевые торги, цены на бензин на разных автозаправочных станциях могут быть различными, так как зависят от того, за сколько он приобретен каждой конкретной АЗС.</p>
                  <p class="desc_p">Таким образом, ценообразование на бензин не зависит не от Министерства энергетики Узбекистана, ни от других государственных структур, а от стартовой цены производителя (конкретного нефтеперерабатывающего завода), предложения (сколько выставлено бензина на биржевые торги) и от спроса на него (сколько планируют купить покупатели).</p>
                  <p class="desc_p">Ранее, до принятия постановления №ПП-4664 в Узбекистане было государственное регулирование розничных цен на различные марки бензина и дизельное топливо. С 1 мая, то есть более полугода с момента внедрения данного рыночного механизма, отечественные нефтеперерабатывающие заводы уже реализуют автомобильный бензин исключительно через биржевые торги.</p>
                </div>
              </div>
              <div class="column-td gap-16">
                <p class="desc_p">Через торги реализуется и партии импортного бензина, если таковой завозится в Узбекистан, и он действительно может быть выставлен на торги с более низкой ценой. И АЗС смогут продавать такой бензин, пока объем этой партии не закончится. В данном случае речь идет о разовых поставках и конкретных договоренностях поставщика импортного бензина для каждой отдельной партии. Это и есть свидетельство рыночных отношений, когда только биржа покажет какой бензин и по какой цене будет реализован тем же АЗС.</p>
                <p class="desc_p">Таким образом, Рыночный механизм реализации бензина и дизтоплива позволяет и нефтеперерабатывающим заводам, и АЗС работать в условиях здоровой конкуренции. Как уже было отмечено, сейчас повышение или понижение цен на бензин зависят от конкретного спроса и предложения. В частности, сразу после введении рыночного механизма, уже 3 мая торги, проведенные на АО «Узбекская республиканская товарно-сырьевая биржа» показали снижение цены бензина, выставленного на продажу.</p>
                <p class="desc_p">В биржевых торгах принимают участие нефтебазы АО «Узбекнефтегаз», автозаправочные станции и другие юридические лица, приобретающие автобензин для собственных нужд. Торги проводятся свободно, прозрачно и с обеспечением равного доступа для всех категорий покупателей.</p>
                <p class="desc_p">Внедрение рыночного механизма реализации бензина усилило прозрачность этого процесса.</p>
                <p class="desc_p">Так, биржевые котировки или средневзвешенные цены на товарные ресурсы, реализуемые через биржевые торги определяются на еженедельной основе и публикуются на официальном вебсайте АО «УзРТСБ» www.uzex.uz каждый понедельник до 17:00.</p>
              </div>
            </div>
          </div>
          <div class="column-td mt-30">
            <h3 class="h3">Архив по бензину</h3>
            <div class="wrapDiv">
              <a class="wrapLink" href="#">2020</a>
              <a class="wrapLink" href="#">2021</a>
              <a class="wrapLink" href="#">2022</a>
              <a class="wrapLink" href="#">2020</a>
              <a class="wrapLink" href="#">2021</a>
              <a class="wrapLink" href="#">2022</a>
              <a class="wrapLink more" href="#">Ещё</a>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>