<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Телефонные коды городов Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/phone-codes-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Телефонные коды городов Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td extraDiv">
						<p class="desc_p">На этой странице приведены телефонные коды для городских (стационарных) телефонных номеров. При звонках на номера, относящиеся к сотовым операторам, код набора отличается от городских. Определить какие номера относятся к сотовым операторам, а какие к городским, а также какие коды на сотовые номера, Вы можете здесь.</p>
						<h2 class="minih2">Международный код Узбекистана: 998</h2>
					</div>
					<div>
						<h3 class="h3">Как позвонить на межгород и международный телефон в Узбекистане</h3>
            <p class="desc_p red">Выставки в Ташкенте в 2021 году проходят с соблюдением всех новых требований и рекомендаций по безопасности и сохранению здоровья от COVID-19.</p>
					</div>
          <div class="mainBlock">
						<div class="tablesGrid">
							<table>
                <thead>
                  <tr>
                    <th class="th tableHead">Андижанская область</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="phoneCodeTableRow">
                    <td class="td">Название населенного пункта</td>
                    <td class="td">Международный код</td>
                  </tr>
                  <tr class="phoneCodeTableRow">
                    <td class="td">Джалалкудукский р-н</td>
                    <td class="td">84</td>
                  </tr>
                  <tr class="phoneCodeTableRow">
                    <td class="td">Джалалкудукский р-н</td>
                    <td class="td">205</td>
                  </tr>
                </tbody>
							</table>
							<table>
								<thead>
									<tr>
										<th class="th tableHead">Бухарская область</th>
									</tr>
								</thead>
								<tbody>
									<tr class="phoneCodeTableRow">
										<td class="td">Название населенного пункта</td>
										<td class="td">Международный код</td>
									</tr>
									<tr class="phoneCodeTableRow">
										<td class="td">Джалалкудукский р-н</td>
										<td class="td">84</td>
									</tr>
									<tr class="phoneCodeTableRow">
										<td class="td">Джалалкудукский р-н</td>
										<td class="td">205</td>
									</tr>
								</tbody>
							</table>
              <table>
                <thead>
                  <tr>
                    <th class="th tableHead">Андижанская область</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="phoneCodeTableRow">
                    <td class="td">Название населенного пункта</td>
                    <td class="td">Международный код</td>
                  </tr>
                  <tr class="phoneCodeTableRow">
                    <td class="td">Джалалкудукский р-н</td>
                    <td class="td">84</td>
                  </tr>
                  <tr class="phoneCodeTableRow">
                    <td class="td">Джалалкудукский р-н</td>
                    <td class="td">205</td>
                  </tr>
                </tbody>
							</table>
							<table>
								<thead>
									<tr>
										<th class="th tableHead">Бухарская область</th>
									</tr>
								</thead>
								<tbody>
									<tr class="phoneCodeTableRow">
										<td class="td">Название населенного пункта</td>
										<td class="td">Международный код</td>
									</tr>
									<tr class="phoneCodeTableRow">
										<td class="td">Джалалкудукский р-н</td>
										<td class="td">84</td>
									</tr>
									<tr class="phoneCodeTableRow">
										<td class="td">Джалалкудукский р-н</td>
										<td class="td">205</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>