<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Почтовые индексы Узбекистана</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/postal-codes-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Почтовые индексы Узбекистана</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="textDiv">
						<p class="desc_p">В соответствии приказом Узбекского агентства связи и информатизации от 28 октября 2005года № 270 были введены в действие новые почтовые индексы Республики Узбекистан.</p>
						<p class="desc_p">Новая шестизначная почтовая индексация Республики Узбекистан построена с учетом территориальной принадлежности структурных подразделений почтовой связи и населенных пунктов до административных образований республики.</p>
						<p class="desc_p">Введение новых почтовых индексов значительно повысить качество предоставляемых услуг путем дальнейшего совершенствования технологических процессов.</p>
					</div>
					<div class="textDiv">
						<h5 class="h5">Новый почтовый индекс состоит из шести знаков и выглядит для областей Республики Узбекистан следующим образом:</h3>
						<p class="desc_p">- первые две цифры индекса указывают условный код областного центра или территории области;</p>
						<p class="desc_p">- третья и четвертая цифры индекса указывают условный код районного центра, территории района или города областного подчинения;</p>
						<p class="desc_p">- пятая и шестая цифры индекса указывают условный код отделения почтовой связи (узла почтовой связи).</p>
						<p class="desc_p">Например: индекс 120216 означает</p>
						<p class="desc_p">12 – Сырдарьинская область 02 – Баяутский район 16 – отделение почтовой связи , обслуживающее населенный пункт Усманабад.</p>
						<p class="desc_p">Новый почтовый индекс для города Ташкента имеет свою особенность в отличие от областей республики. Почтовый индекс города Ташкента выглядит следующим образом:</p>
						<p class="desc_p">- первые три цифры индекса указываю условный код города Ташкента;</p>
						<p class="desc_p">- вторые три цифры индекса указывают номер отделения почтовой связи города Ташкента.</p>
					</div>
					<div class="textDiv">
						<h5 class="h5">Например: индекс 100123 означает</h5>
						<p class="desc_p">100 – город Ташкент</p>
						<p class="desc_p">123 – отделение почтовой связи</p>
            <p class="desc_p">Смотреть подробнее <span class="light-blue span-link"><a href="#">Почтовые индексы города Ташкента >>></a></span></p>
					</div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Ссылки по теме:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Республика Каракалпакистан - 230100 (231100)</a></p>
              <p class="otherLink"><a href="#">Андижанская область -170100 (171100)</a></p>
              <p class="otherLink"><a href="#">Бухарская область - 200100 (201100)</a></p>
              <p class="otherLink"><a href="#">Джизакская область - 130100 (131100)</a></p>
              <p class="otherLink"><a href="#">Кашкадарьинская область - 180100 (181100)</a></p>
              <p class="otherLink"><a href="#">Навоийская область - 210100 (211100)</a></p>
              <p class="otherLink"><a href="#">Наманганская область - 160100 (161100)</a></p>
              <p class="otherLink"><a href="#">Самаркандская область - 140100 (141100)</a></p>
              <p class="otherLink"><a href="#">Ташкентская область - 110000</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>