<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Почтовые индексы Ташкентской области</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/postal_tashkent_region-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Почтовые индексы Ташкентской области</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td gap-20">
            <div class="navigationDiv">
              <p class="navigation_title">Навигация:</p>
              <div class="navigation_container">
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Алмалык</a>
                <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
                <a href="#" class="navigation_link">Алмалык</a>
              </div>
            </div>
            <div class="column-td">
              <p class="desc_p"> В соответствии приказом Узбекского агентства связи и информатизации от 28 октября 2005 года № 270 были введены в действие новые почтовые индексы Республики Узбекистан.</p>
            </div>
          </div>
          <div class="column-td gap-12 mt-20">
            <h4 class="h4">Новый почтовый индекс для Ташкентской области состоит из шести знаков и выглядит следующим образом:</h4>
            <div class="column-td">
              <p class="desc_p">- первые две цифры индекса указывают условный код областного центра;</p>
              <p class="desc_p">- вторые две цифры индекса указывают условный код районного центра;</p>
              <p class="desc_p">- третьи две цифры индекса указывают номер отделения почтовой связи.</p>
            </div>
          </div>
          <div class="column-td mt-20">
            <h4 class="h4">Например: индекс 110110 означает</h4>
            <div class="column-td">
              <p class="desc_p">11 – Ташкентская область;</p>
              <p class="desc_p">01 – город Алмалык;</p>
              <p class="desc_p">10 – отделение почтовой связи №10 (Алмалык-10).</p>
            </div>
            <div class="column-td mt-20">
              <div class="column-td gap-8">
                <h3 class="h3 text-center">Таблица старых и новых почтовых индексов Ташкентской области</h3>
                <p class="desc_p text-center">При нажатии на индекс откроется страница с компаниями расположеными по данному индексу</p>
              </div>
              <div class="overflow_scroll mt-30">
                <table class="postal_table">
                  <thead>
                    <tr class="postal_tableRow tableHead">
                      <th class="th">Отделение почтовой связи</th>
                      <th class="th">Обслуживающее почтовое отделение</th>
                      <th class="th column-td">
                        <span class="inner_data bt_border border_none">Индексы</span>
                        <div class="grid2">
                          <span class="inner_data">Старые</span>
                          <span class="inner_data border_none">Новые</span>
                        </div>
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
              <div class="column-td">
                <h2 class="h2 table_title text-center">Почтовые индексы: Алмалык</h2>
                <div class="overflow_scroll">
                  <table class="postal_table">
                    <thead>
                      <tr class="postal_tableRow">
                        <th class="th">Андижан Почтамт</th>
                        <th class="th">Андижан Почтамт</th>
                        <th class="th column-th">
                          <div class="grid2">
                            <a href="#" class="inner_data">70000</a>
                            <a href="#" class="inner_data border_none">10000</a>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="postal_tableRow">
                        <td class="td">Андижан Почтамт</td>
                        <td class="td">Андижан Почтамт</td>
                        <td class="td column-td">
                          <div class="grid2">
                            <a href="#" class="inner_data">70000</a>
                            <a href="#" class="inner_data border_none">10000</a>
                          </div>
                        </td>
                      </tr>
                      <tr class="postal_tableRow">
                        <td class="td">Андижан Почтамт</td>
                        <td class="td">Андижан Почтамт</td>
                        <td class="td column-td">
                          <div class="grid2">
                            <a href="#" class="inner_data">70000</a>
                            <a href="#" class="inner_data border_none">10000</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="column-td">
                <h2 class="h2 table_title text-center">Почтовые индексы: Алмалык</h2>
                <div class="overflow_scroll">
                  <table class="postal_table">
                    <thead>
                      <tr class="postal_tableRow">
                        <th class="th">Андижан Почтамт</th>
                        <th class="th">Андижан Почтамт</th>
                        <th class="th column-th">
                          <div class="grid2">
                            <a href="#" class="inner_data">70000</a>
                            <a href="#" class="inner_data border_none">10000</a>
                          </div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="postal_tableRow">
                        <td class="td">Андижан Почтамт</td>
                        <td class="td">Андижан Почтамт</td>
                        <td class="td column-td">
                          <div class="grid2">
                            <a href="#" class="inner_data">70000</a>
                            <a href="#" class="inner_data border_none">10000</a>
                          </div>
                        </td>
                      </tr>
                      <tr class="postal_tableRow">
                        <td class="td">Андижан Почтамт</td>
                        <td class="td">Андижан Почтамт</td>
                        <td class="td column-td">
                          <div class="grid2">
                            <a href="#" class="inner_data">70000</a>
                            <a href="#" class="inner_data border_none">10000</a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <div class="column-td gap-8">
              <h3 class="h3 text-center">Таблица старых и новых почтовых индексов Ташкентской области</h3>
              <p class="desc_p text-center">При нажатии на индекс откроется страница с компаниями расположеными по данному индексу</p>
            </div>
          </div>
          <div class="sovetDiv mt-30">
            <svg class="checkmark" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C17.523 2 22 6.47701 22 12C22 17.523 17.523 22 12 22C6.47701 22 2 17.523 2 12C2 6.47701 6.47701 2 12 2ZM10.8573 15.7765L16.7073 9.9265C17.0983 9.5365 17.0983 8.9035 16.7073 8.5125C16.3163 8.1225 15.6842 8.1225 15.2933 8.5125L10.8573 12.9485L8.70725 10.7985C8.31625 10.4075 7.68425 10.4075 7.29325 10.7985C6.90225 11.1895 6.90225 11.8215 7.29325 12.2125L10.8573 15.7765Z" fill="#F8AF5E"/>
            </svg>
            <p class="desc_p">Совет: Если вы не знаете точный почтовый индекс местности в Ташкентской области (улица, номер дома) куда собираетесь отправлять письмо, то указывайте почтовый индекс вышестоящего почтового узла. Например: Вам нужно отправить письмо в город Алмалык и вы не можете точно определить почтовый индекс (110101, 110102, 110106 или другой), то указывайте индекс Алмалыкского почтамта т.е. 110100</p>
          </div>
          <!-- Other-Links Section -->
          <div class="otherLinksDiv">
            <h2 class="h2">Почтовые индексы областей Узбекистана:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">г. Ташкент - 100000</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2013г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2012г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2011г</a></p>
            </div>
          </div>
          <div class="otherLinksDiv">
            <h2 class="h2">Ссылки по теме:</h2>
            <div class="otherLinks">
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2018г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2013г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2012г</a></p>
              <p class="otherLink"><a href="#">Архив выставок в Узбекистане, Ташкент за 2011г</a></p>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>