<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Почтовые индексы Ташкента</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/postal-tashkent-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Почтовые индексы Ташкента</h1>
      </div>
      <!-- === Main content starts here! === -->
      <p class="desc_p mt-15">В соответствии приказом Узбекского агентства связи и информатизацииот 28 октября 2005 года № 270 были введены в действие новые почтовые индексы Республики Узбекистан и в частности для города Ташкента.</p>
      <div class="extraDiv">
        <h6 class="h6">Новый почтовый индекс для города Ташкента состоит из шести знаков и выглядит следующим образом :</h6>
        <div class="column-td">
          <p class="desc_p">- первые три цифры индекса указываю условный код города Ташкента;</p>
          <p class="desc_p">- вторые три цифры индекса указывают номер отделения почтовой связи города Ташкента.</p>
        </div>
      </div>
      <div class="extraDiv">
        <h6 class="h6">Например: индекс 100123 означает</h6>
        <div class="column-td">
          <p class="desc_p">100 – город Ташкент</p>
          <p class="desc_p">123 – отделение почтовой связи</p>
        </div>
      </div>
      <h3 class="h3 mt-25">При нажатии на индекс (пример: 100000, 100001) откроется страница с компаниями расположеными по данному индексу</h3>
      <div class="mainMiniContainer">
        <table class="mt-25 table">
          <thead>
            <tr class="tableRow tableHead">
              <th class="th">Почтовое отделение</th>
              <th class="th">Район/Адрес</th>
              <th class="th">Обслуживающее почтовое отделение</th>
              <th class="th column-td">
                <span class="topTh">Индексы</span>
                <div class="grid2">
                  <span class="gridTh">Старые</span>
                  <span class="gridTh">Новые</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="tableRow">
              <td class="td">Ташкент Почтамт</td>
              <td class="td">Мирабадский ул. ИСЛАМА КАРИМОВА (бывш. пр-т УЗБЕКИСТАНСКИЙ), 6</td>
              <td class="td">Ташкент Почтамт Обслуживает: массив Ц-1 (Буюк Ипак Йули) и массив Ц-2 (Олой)</td>
              <td class="td grid2">
                <span class="gridTh">700000</span>
                <span class="gridTh">100000</span>
              </td>
            </tr>
            <tr class="tableRow">
              <td class="td">Ташкент Почтамт</td>
              <td class="td">Мирабадский ул. ИСЛАМА КАРИМОВА (бывш. пр-т УЗБЕКИСТАНСКИЙ), 6</td>
              <td class="td">Ташкент Почтамт Обслуживает: массив Ц-1 (Буюк Ипак Йули) и массив Ц-2 (Олой)</td>
              <td class="td grid2">
                <span class="gridTh">700000</span>
                <span class="gridTh">100000</span>
              </td>
            </tr>
            <tr class="tableRow">
              <td class="td">Ташкент Почтамт</td>
              <td class="td">Мирабадский ул. ИСЛАМА КАРИМОВА (бывш. пр-т УЗБЕКИСТАНСКИЙ), 6</td>
              <td class="td">Ташкент Почтамт Обслуживает: массив Ц-1 (Буюк Ипак Йули) и массив Ц-2 (Олой)</td>
              <td class="td grid2">
                <span class="gridTh">700000</span>
                <span class="gridTh">100000</span>
              </td>
            </tr>
            <tr class="tableRow">
              <td class="td">Ташкент Почтамт</td>
              <td class="td">Мирабадский ул. ИСЛАМА КАРИМОВА (бывш. пр-т УЗБЕКИСТАНСКИЙ), 6</td>
              <td class="td">Ташкент Почтамт Обслуживает: массив Ц-1 (Буюк Ипак Йули) и массив Ц-2 (Олой)</td>
              <td class="td grid2">
                <span class="gridTh">700000</span>
                <span class="gridTh">100000</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tableDescDiv">
        <p class="update_time">Обновлено:14.03.22</p>
      </div>
      <div class="otherLinksDiv">
        <h2 class="h2">Почтовые индексы областей Узбекистана:</h2>
        <div class="otherLinks">
          <p class="otherLink"><a href="#">Республика Каракалпакистан - 230100 (231100)</a></p>
          <p class="otherLink"><a href="#">Андижанская область -170100 (171100)</a></p>
          <p class="otherLink"><a href="#">Бухарская область - 200100 (201100)</a></p>
          <p class="otherLink"><a href="#">Джизакская область - 130100 (131100)</a></p>
        </div>
      </div>
      <div class="otherLinksDiv">
        <h2 class="h2">Ссылки по теме:</h2>
        <div class="otherLinks">
          <p class="otherLink"><a href="#">Карта Ташкента</a></p>
          <p class="otherLink"><a href="#">Смена АТС в Ташкенте, Узбекистан</a></p>
          <p class="otherLink"><a href="#">Новые автомобильные номера Узбекистана.</a></p>
          <p class="otherLink"><a href="#">Административно-территориальное деление Республики Узбекистан.</a></p>
          <p class="otherLink"><a href="#">Переименование названий улиц в Ташкенте</a></p>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>