<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация о проходных баллах в Ташкентском Государственом аграрном университете</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/proxodniye_balli-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Информация о проходных баллах в Ташкентском Государственом аграрном университете</h1>
      </div>
      <!-- === Main content starts here! === -->
      <div class="mainMiniContainer mt-15">
        <div class="column-td gap-16">
          <h2 class="h2">Данные по плану приёма абитуриетов, количеству поданых заявлений и минимальный проходной бал по направлениям обучения бакалавров в Ташкентский Государственный аграрный Университет в 2017/18 учебном году.</h2>
          <div class="overflow_scroll">
            <table class="proxodnoy_ball_table">
              <thead>
                <tr>
                  <th class="th">№</th>
                  <th class="th">Наименование направления</th>
                  <th class="th">Код направления</th>
                  <th class="th">Язык обучения</th>
                  <th class="th">
                    <span>План приёма</span>
                    <div class="grid2">
                      <span>Грант</span>
                      <span>Контракт</span>
                    </div>
                  </th>
                  <th class="th">Кол - во абитуриентов</th>
                  <th class="th">Конкурс</th>
                  <th class="th">
                    <span>Средние проходные баллы</span>
                    <div class="grid2">
                      <span>Грант</span>
                      <span>Контракт</span>
                    </div>
                  </th>
                  <th class="th">
                    <span>Минимальные проходные баллы</span>
                    <div class="grid2">
                      <span>Грант</span>
                      <span>Контракт</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Профессиональное образование: сохранение продукции сельского хозяйства и технологии их переработки</td>
                  <td>5111005</td>
                  <td>узбекский</td>
                  <td>
                    <div class="grid2">
                      <span>0</span>
                      <span>6</span>
                    </div>
                  </td>
                  <td>164</td>
                  <td>15.5</td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Профессиональное образование: сохранение продукции сельского хозяйства и технологии их переработки</td>
                  <td>5111005</td>
                  <td>узбекский</td>
                  <td>
                    <div class="grid2">
                      <span>0</span>
                      <span>6</span>
                    </div>
                  </td>
                  <td>164</td>
                  <td>15.5</td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Вот такие дивы можете продублипрвать и ставить -->
        <div class="column-td gap-16 mt-20">
          <h2 class="h2">Данные по плану приёма абитуриетов, количеству поданых заявлений и минимальный проходной бал по направлениям обучения бакалавров в Ташкентский Государственный аграрный Университет в 2017/18 учебном году.</h2>
          <div class="overflow_scroll">
            <table class="proxodnoy_ball_table">
              <thead>
                <tr>
                  <th class="th">№</th>
                  <th class="th">Наименование направления</th>
                  <th class="th">Код направления</th>
                  <th class="th">Язык обучения</th>
                  <th class="th">
                    <span>План приёма</span>
                    <div class="grid2">
                      <span>Грант</span>
                      <span>Контракт</span>
                    </div>
                  </th>
                  <th class="th">Кол - во абитуриентов</th>
                  <th class="th">Конкурс</th>
                  <th class="th">
                    <span>Средние проходные баллы</span>
                    <div class="grid2">
                      <span>Грант</span>
                      <span>Контракт</span>
                    </div>
                  </th>
                  <th class="th">
                    <span>Минимальные проходные баллы</span>
                    <div class="grid2">
                      <span>Грант</span>
                      <span>Контракт</span>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Профессиональное образование: сохранение продукции сельского хозяйства и технологии их переработки</td>
                  <td>5111005</td>
                  <td>узбекский</td>
                  <td>
                    <div class="grid2">
                      <span>0</span>
                      <span>6</span>
                    </div>
                  </td>
                  <td>164</td>
                  <td>15.5</td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Профессиональное образование: сохранение продукции сельского хозяйства и технологии их переработки</td>
                  <td>5111005</td>
                  <td>узбекский</td>
                  <td>
                    <div class="grid2">
                      <span>0</span>
                      <span>6</span>
                    </div>
                  </td>
                  <td>164</td>
                  <td>15.5</td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                  <td>
                    <div class="grid2">
                      <span>127.1</span>
                      <span>127.1</span>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- =============================================== -->

        <div class="column-td gap-16 mt-20">
          <p class="desc_p">Источник: Государственный тестовый центр.</p>
          <p class="desc_p">Таблицы проходных баллов, квотах и конкурсу на место среди абитуриетов по направлениям обучения бакалавров в Ташкентском Государственном аграрном Университете за 2017/18, 2016/17, 2015/16, 2014/15, 2013/14 и 2013/12 учебные годы приведены только для общего ознакомления и не могут быть использованы как руководство по выбору направления обучения исходя из конкурса абитуриентов, а также проходных балов по данному направлению. Компания Golden Pages не несет никакой ответственности за решения принятые исходя из данных вышеприведенных таблиц.</p>
        </div>
        <div class="otherLinksDiv mt-20">
          <h2 class="h2">Ссылки по теме:</h2>
          <div class="otherLinks">
            <p class="otherLink"><a href="#">Ташкентского Государственного аграрного Университета</a></p>
            <p class="otherLink"><a href="#">Ташкентского Государственного аграрного Университета</a></p>
          </div>
        </div>
        <div class="otherLinksDiv mt-20">
          <h2 class="h2">Вернуться обратно к контактной информации:</h2>
          <div class="otherLinks">
            <p class="otherLink"><a href="#">Ташкентского Государственного аграрного Университета</a></p>
            <p class="otherLink"><a href="#">Ташкентского Государственного аграрного Университета</a></p>
          </div>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>