<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Общая информация об общественном транспорте Ташкента. Стоимость проезда в Ташкенте.</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/mobile/css/public-transport-mobile.css">
</head>
<body>
  <main class="b-container-mini mt-25">
    <div class="miniContainer">
      <div class="headerTitle">
        <h1 class="h1">Общая информация об общественном транспорте Ташкента. Стоимость проезда в Ташкенте.</h1>
      </div>
      <!-- === Main content starts here! === -->
      <div class="mainMiniContainer">
        <div class="otherLinksDiv">
          <div class="otherLinks">
            <p class="otherLink"><a href="#">Общая информация об общественном траспорте Ташкента</a></p>
            <p class="otherLink"><a href="#">Общая информация об общественном траспорте Ташкента</a></p>
            <p class="otherLink"><a href="#">Общая информация об общественном траспорте Ташкента</a></p>
            <p class="otherLink"><a href="#">Общая информация об общественном траспорте Ташкента</a></p>
          </div>
        </div>
        <div class="mainBlock">
          <div class="textDivBlock">
            <h5 class="h5">Общая информация об общественном транспорте Ташкента</h5>
            <div class="textDivMini gap-12">
              <p class="desc_p">Ташкент обладает развитой транспортной инфраструктурой охватывающей практически на 100% всю территорию города.</p>
              <p class="desc_p">Общественный транспорт г. Ташкента представлен следующими видами общественного транспорта: автобусы, троллейбусы (до 1 мая 2010 г), трамваи, (до 2 мая 2016 г), маршрутное такси и метро.</p>
              <p class="desc_p">Ассоциация "Тошшахартрансхизмат " объединяет всех перевозчиков предоставляющих услуги по перевозке населения общественным транспортом.</p>
              <p class="desc_p">В ассоциацию "Тошшахартрансхизмат " входят: ОАО "Автопарк №1", ОАО "Автопарк №2", ОАО "Автопарк №3", ОАО "Автопарк №4", ОАО "Автопарк №5", ОАО "Автопарк №7", ОАО "Автопарк №8", ОАО "Автопарк №12", ОАО "Автопарк №18, а так же ОАО "РАФ" , ОАО "Чукурсой автокорхонаси", МТА, Туртинчи автохизмат, ОАО СП "Интер Транс Сервис", Садаф автобизнес и другие организации.</p>
              <p class="desc_p">Ежедневный пассажирооборот на общественном транспорте Ташкента составляет более свыше 1,5 млн человек. В настоящий время Ассоциация "Тошшахартрансхизмат " обслуживает 128 городских автобусных маршрута, 1 пригородный маршрут, 35 линий маршрутных такси. Также действуют 4 линии метрополитена с 43 станциями.</p>
              <p class="desc_p">По итогам 9 мес 2021 г. объем пассажирских перевозок в Ташкенте составил 102,7 млн человек автобусными маршрутами.</p>
            </div>
          </div>
          <div class="textDivBlock mt-30">
            <h5 class="h5">Стоимость проезда в Ташкенте</h5>
            <div class="textDivMini gap-4">
              <p class="desc_p">С 15 августа 2019 г. стоимость проезда на общественном городском транспорте устанавливается в следующих размерах:</p>
              <p class="desc_p">- В автобусах городских маршрутов (кроме маршрутных такси), маршрутах трамваев и метрополитене -  1 400 сум</p>
              <p class="desc_p">- В автобусах пригородных маршрутов в черте города - 1 400 сум.</p>
              <p class="desc_p">- Маршрутные такси - согласно тарификации</p>
              <p class="desc_p">- За пределами города - согласно тарификации</p>
            </div>
          </div>
          <div class="textDivBlock mt-25">
            <h5 class="h5">Даты изменения цен на общественный транспорт в Ташкенте:</h5>
            <ul class="textDivUl gap-12">
              <li class="desc_p">15.08.2019 г. - цена 1 400 сум</li>
              <li class="desc_p">01.04.2016 г. - цена 1 200 сум</li>
              <li class="desc_p">15.08.2019 г. - цена 1 400 сум</li>
              <li class="desc_p">01.04.2016 г. - цена 1 200 сум</li>
            </ul>
          </div>
          <div class="centeredBlock">
            <h3 class="h3">Стоимость месячных проездных карточек в Ташкенте:</h3>
            <div class="textDivMini gap-12">
              <p class="desc_p">с 1 января 2020 года был осуществлен переход на единные дневные транспортные карты вместо месячных проездных билетов. Единные транспортные карты позволяют ездить 5, 10, 15, 20 и 30 дней без ограничения поездок. Стоимость 30-ти дневной единной карты равно стоимости месячного проездного билета.</p>
              <p class="desc_p">Единые (синие) карты можно приобрести в любом киоске по продаже карт АТТО (в которых раньше продавали проездные карточки и жетоны), кассах метрополитена, а также через специальные, автоматизированные картоматы, которые установлены во многих вестибюлях станций метрополитена.</p>
            </div>
            <div class="imagesBlock">
              <div id="tarifi" class="atto-image">
                <img src="/desktop/img/tarifi-atto.png" alt="tarifi atto">
              </div>
              <div id="etapi" class="atto-image">
                <img src="/desktop/img/etapi-atto.png" alt="etapi atto">
              </div>
            </div>
          </div>
          <!-- ======================= -->
          <div class="textDivBlock mt-30">
            <h3 class="h3">Перечень лиц, имеющих право бесплатного пользования городским пассажирским транспортом (кроме такси) в соответствии с Законом Республики Узбекистан от 30 августа 1996 года «Об упорядочении бесплатного пользования городским пассажирским транспортом"</h3>
            <div class="textDivMini gap-4">
              <p class="desc_p">- участники войны 1941-1945 годов из числа военнослужащих;</p>
              <p class="desc_p">- инвалиды войны 1941-1945 годов и лицо, сопровождающее в поездках инвалида войны I группы;</p>
              <p class="desc_p">- лица награжденные орденами и медалями за самоотверженный труд и безупречную воинскую службу в тылу в годы войны 1941-1945 годов;</p>
              <p class="desc_p">- граждане из числа бывших военнослужащих-интернационалистов, принимавших участие в боевых действиях в Республики Афганистан и на территории других стран;</p>
              <p class="desc_p">- лица, заболевшие и перенесшие лучевую болезнь, вызванную последствиями аварии на Чернобыльской АЭС;</p>
              <p class="desc_p">- инвалиды-слепые и лицо, сопровождающее в поездках инвалида-слепого;</p>
              <p class="desc_p">- военнослужащие действительной срочной военной службы, старшины, прапорщики, старшие прапорщики, мичманы и старшие мичманы;</p>
              <p class="desc_p">- младшие сержанты, сержанты, старшие сержанты (согласно Постановления Кабинета Министров Республики Узбекистан №170 от 12.04.2004г).</p>
            </div>
            <div class="textDiv gap-4">
              <p class="desc_p fl">В соответствии с Постановлением Кабинета Министров Республики Узбекистан №291 от 1996 года, вышеперечисленные лица обязаны иметь специальный «вкладыш» на бесплатный проезд, который должны предъявлять при пользовании городским пассажирским транспортом. Специальные вкладыши выдаются в ЕХЦ «Йуловчитранссервис» .</p>
              <p class="desc_p fl">Лицам, сопровождающим в поездках инвалида войны I группы и инвалида-слепого, удостоверение не выдаётся. Они пользуются правом бесплатного проезда только в поездках при сопровождении вышеуказанных лиц.</p>
              <p class="desc_p fl">Только вышеперечисленные военнослужащие имеют право бесплатного проезда по удостоверению личности, подтверждающему воинское звание.</p>
              <p class="desc_p fl">Право бесплатного проезда распространяется на детей в возрасте до 7 лет.</p>
              <p class="desc_p fl">Все остальные пассажиры, не входящие в вышеуказанный перечень, в т.ч. пенсионеры, обязаны платить проезд 100% или пользоваться месячными проездными карточками. Для пенсионеров, учащихся школ и колледжей, студентов ВУЗов предусмотрены льготные проездные карточки, которые реализуются ЕХЦ "Йуловчитранссервис"</p>
            </div>
          </div>
          <div class="textDivBlock mt-30">
            <h3 class="h3">Телефон доверия Ассоциации "Тошшахартрансхизмат"</h3>
            <div class="textDivMini gap-12">
              <p class="desc_p">С 1 февраля 2009 года при Центральной Диспетчерской Службе Ассоциации "Тошшахартрансхизмат" действует телефон доверия - (+998)71-233-54-86 .</p>
              <p class="desc_p">С 1 апреля 2014 года в Центральной диспетчерской службе акционерной компании «Тошшахартрансхизмат» начал работу телефон доверия с коротким номером 1062</p>
              <p class="desc_p">-Прием и регистрация обращений, жалоб и предложений по работе всех видов городского пассажирского транспорта г. Ташкента осуществляется ежедневно с 8:00 до 20:00 часов.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- === Main content ends here! === -->
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>