<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Код набора на сотовые телефоны в Ташкенте, Узбекистан</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/tashkent_phone_codes-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Код набора на сотовые телефоны в Ташкенте, Узбекистан</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
					<div class="column-td gap-20">
            <p class="desc_p">Начиная с 10.09.18 года по 30.09.18 года в Ташкенте и Ташкентской области осуществлен переход с семизначной на девятизначную систему нумерации телефонной связи. С 1 октября 2018 года для телефонных номеров абонентов столицы и Ташкентской области задействованы только девятизначные номера телефонов.</p>
            <p class="desc_p">В других регионах Узбекистана переход на 9-значные телефонные номера  осуществлен до 1 января 2020 г</p>
          </div>
          <div class="mt-30">
            <h5 class="h5">Порядок набора экстренных служб и коротких четырехзначных номеров остается без изменений. Прежним остается и порядок набора номеров в международном формате <span class="red">(+998-хх ххх хх хх).</span></h5>
          </div>
          <div class="column-td gap-40 mt-30">
            <div class="column-td">
              <p class="desc_p">У городского оператора стационарной связи "Узбектелеком" (ТШТТ) к префиксу (114, 234, 238, 239, 241, 268, 272, 274, 299 и других городских номеров) к номеру добавится код 71 для города Ташкента и код 70 для номеров Таш области.</p>
            </div>
            <div class="column-td gap-12">
              <p class="desc_p">У операторов стационарной телефонной связи "EAST TELECOM" (префиксы: 129, 147, 148, 149 и 150), "Buzton" (120, 140 и 141),  "Sharq Telekom" (113), "Sarkor Telekom" (122) к номеру добавится код 78</p>
              <p class="desc_p">У операторов мобильной (сотовой) связи: Unitel (ТМ "BEELINE"), Coscom (ТМ "UCELL"), Universal Mobile Systems (ТМ "UMS"), RWC (ТМ "Perfectum Mobile"), АК «Узбектелеком» (ТМ. Uzmobile (стандарты GSM и CDMA)) к номеру добавится свой текущий код: BEELINE - (90 или 91), UCELL - (93 или 94 или 55), UMS - (97 или 88), Perfectum Mobile - (98), Uzmobile - (95 (CDMA) или 99 (GSM)).</p>
            </div>
          </div>
          <div class="centerContent mt-30">
            <div class="codesImage">
              <img src="/desktop/img/codesImage-desktop.png" alt="codes image">
            </div>
          </div>
          <div class="column-td gap-12 mt-30">
            <h3 class="h3">Для удобства абонентов!</h3>
            <div class="column-td gap-20">
              <p class="desc_p">В случае неправильного набора номера абонента будет отвечать автоответчик (Уважаемый абонент, в связи с переходом на девятизначную систему нумерации, просим набирать абонентский номер с кодом оператора).</p>
              <p class="desc_p">Кроме того, круглосуточно работает техническая поддержка абонентов по короткому номеру: 1192.</p>
            </div>
          </div>
          <div class="column-td gap-12 mt-30">
            <h3 class="h3">Как определить оператора мобильной связи по семизначному номеру телефона?</h3>
            <div class="column-td gap-20">
              <p class="desc_p">В выше представленной форме, введите первые три цифры номера по старому набору (234, 140, 268, 272, 150 и т.д) в таблице отобразится информация о возможных вариантах набора номера. Особое внимание обратите на значение "РЕГИОН" т.к. в зависимости от региона могут быть разные коды набора, при одном и том же номере.</p>
              <div class="column-td">
                <p class="desc_p">При телефонных звонках из-за рубежа в Узбекистан с набором международного кода существуют отличия набора кода при звонках на телефоны, относящиеся к операторам мобильной связи работающим в Узбекистане, чем на городские. Приведенная ниже таблица поможет Вам определить, какие номера относятся к операторам мобильной связи, а какие к городским АТС. Все остальные номера (первые три цифры) не приведенные в данной таблице относятся к городским номерам, например 241 (бывшая 41 АТС и бывшая 142 ЭАТС), 248 (бывшая 48 АТС и бывшая 398) и т.п. и при звонках на них используется стандартный код, а именно 998 для Узбекистана и например 998 71 (2) при звонках в Ташкент. Стандартные телефонные коды для Узбекистана можно посмотреть <span><a href="#">здесь >>></a></span></p>
                <p class="desc_p">В связи с с планом модернизации и развития телефонной сети г. Ташкента, проведено переключение номеров телефонов АТС на электронные цифровые ЭАТС. Какими стали номера после переключения можно посмотреть <span><a href="#">здесь >>></a></span></p>
              </div>
              <p class="desc_p">Эти же коды используются при отправке SMS из других стран на сотовые телефоны, зарегистрированные в Узбекистане</p>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <div class="column-td gap-4">
              <h3 class="h3">Ucell (Coscom)</h3>
              <h4 class="h4">Коды оператора мобильной связи Ucell (Coscom): +998 93, +998 94</h4>
            </div>
            <div class="overflow_scroll">
              <table class="phone_codes_table">
                <thead>
                  <tr class="phone_codes_tableRow tableHead">
                    <th class="th">Регион</th>
                    <th class="th">Код набора</th>
                    <th class="th">Префикс</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="phone_codes_tableRow">
                    <td class="td">Республика Каракалпакстан</td>
                    <td class="td">+998 94</td>
                    <td class="td">600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625,626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699</td>
                  </tr>
                  <tr class="phone_codes_tableRow">
                    <td class="td">Республика Каракалпакстан</td>
                    <td class="td">+998 94</td>
                    <td class="td">600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625,626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <div class="column-td gap-4">
              <h3 class="h3">Uzmobile (CDMA)</h3>
              <h4 class="h4">Коды оператора мобильной связи Ucell (Coscom): +998 93, +998 94</h4>
            </div>
            <div class="overflow_scroll">
              <table class="phone_codes_table">
                <thead>
                  <tr class="phone_codes_tableRow tableHead">
                    <th class="th">Регион</th>
                    <th class="th">Код набора</th>
                    <th class="th">Префикс</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="phone_codes_tableRow">
                    <td class="td">Республика Каракалпакстан</td>
                    <td class="td">+998 94</td>
                    <td class="td">600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625,626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699</td>
                  </tr>
                  <tr class="phone_codes_tableRow">
                    <td class="td">Республика Каракалпакстан</td>
                    <td class="td">+998 94</td>
                    <td class="td">600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625,626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="column-td gap-20 mt-30">
            <div class="column-td gap-4">
              <h3 class="h3">Uzmobile (CDMA)</h3>
              <h4 class="h4">Коды оператора мобильной связи Ucell (Coscom): +998 93, +998 94</h4>
            </div>
            <div class="overflow_scroll">
              <table class="phone_codes_table">
                <thead>
                  <tr class="phone_codes_tableRow tableHead">
                    <th class="th">Регион</th>
                    <th class="th">Код набора</th>
                    <th class="th">Префикс</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="phone_codes_tableRow">
                    <td class="td">Республика Каракалпакстан</td>
                    <td class="td">+998 94</td>
                    <td class="td">600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625,626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699</td>
                  </tr>
                  <tr class="phone_codes_tableRow">
                    <td class="td">Республика Каракалпакстан</td>
                    <td class="td">+998 94</td>
                    <td class="td">600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625,626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="tableDescDiv">
            <p class="update_time">Обновлено: 02.06.21</p>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>