<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Административно-территориальное деление Республики Узбекистан</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/desktop/css/territorialniye_deleniye_uzbekistana-desktop.css">
</head>
<body>
  <main class="b-container mt-27">
    <div class="staticContainer container">
      <div class="b-breadcrumbs">
        <nav class="nav_breadcrumb">
          <ul class="breadcrumb">
            <li><a href="/">Главная</a></li>
            <li class="active">Топ 2000 видов деятельности по посещаемости</li>
          </ul>
          <div class="col-lg-12 headerTitle">
            <h1 class="h1">Административно-территориальное деление Республики Узбекистан</h1>
          </div>
        </nav>
      </div>
      <div class="banners-top"></div>
      <!-- === MainContent starts here! === -->
      <div class="mainContainer">
        <div class="mainContent">
          <div class="navigationDiv">
            <p class="navigation_title">Навигация:</p>
            <div class="navigation_container">
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Алмалык</a>
              <a href="#" class="navigation_link">Нуравшан (бывш Туй-тепы)</a>
              <a href="#" class="navigation_link">Алмалык</a>
            </div>
          </div>
          <div class="tables_grid_container">
            <table class="region_table">
              <thead>
                <tr>
                  <th>Республика Каракалпакстан</th>
                </tr>
                <tr>
                  <td>* Столица - г. Нукус (население 315,1 тыс. чел. - 2019 г.)</td>
                  <td>* Территория - 166,59 тыс. кв. км</td>
                  <td>* Население - 1 903,9 тыс. чел. (01.04.2020 г.)</td>
                </tr>
                <tr>
                  <th>Название района</th>
                  <th>Адм. центр района</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Города республиканского подчинения: Ташкент</td>
                  <td>Города областного подчинения: Алмалык, Ангрен, Ахангаран, Бекабад, Чирчик, Янгиюль (таш. обл.)</td>
                  <td>Города районного подчинения: Аккурган, Бука, Газалкент, Келес, Паркент, Пскент, Чиназ, Янгиабад (таш. обл.)</td>
                </tr>
              </tbody>
            </table>
            <table class="region_table">
              <thead>
                <tr>
                  <th>Республика Каракалпакстан</th>
                </tr>
                <tr>
                  <td>* Столица - г. Нукус (население 315,1 тыс. чел. - 2019 г.)</td>
                  <td>* Территория - 166,59 тыс. кв. км</td>
                  <td>* Население - 1 903,9 тыс. чел. (01.04.2020 г.)</td>
                </tr>
                <tr>
                  <th>Название района</th>
                  <th>Адм. центр района</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Города республиканского подчинения: Ташкент</td>
                  <td>Города областного подчинения: Алмалык, Ангрен, Ахангаран, Бекабад, Чирчик, Янгиюль (таш. обл.)</td>
                  <td>Города районного подчинения: Аккурган, Бука, Газалкент, Келес, Паркент, Пскент, Чиназ, Янгиабад (таш. обл.)</td>
                </tr>
              </tbody>
            </table>
            <table class="region_table">
              <thead>
                <tr>
                  <th>Республика Каракалпакстан</th>
                </tr>
                <tr>
                  <td>* Столица - г. Нукус (население 315,1 тыс. чел. - 2019 г.)</td>
                  <td>* Территория - 166,59 тыс. кв. км</td>
                  <td>* Население - 1 903,9 тыс. чел. (01.04.2020 г.)</td>
                </tr>
                <tr>
                  <th>Название района</th>
                  <th>Адм. центр района</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Амударьинский</td>
                  <td>п. Тахтакупыр</td>
                </tr>
                <tr>
                  <td>Города республиканского подчинения: Ташкент</td>
                  <td>Города областного подчинения: Алмалык, Ангрен, Ахангаран, Бекабад, Чирчик, Янгиюль (таш. обл.)</td>
                  <td>Города районного подчинения: Аккурган, Бука, Газалкент, Келес, Паркент, Пскент, Чиназ, Янгиабад (таш. обл.)</td>
                </tr>
              </tbody>
            </table>
            <table class="last_region_table">
              <thead>
                <tr>
                  <th>Список условных сокращений</th>
                </tr>
                <tr>
                  <td>Номер на карте</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Республика Каракалпакстан</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Республика Каракалпакстан</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Республика Каракалпакстан</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Республика Каракалпакстан</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="column-td gap-20 mt-30">
            <p class="desc_p">Данная таблица, Административно-территориальное деление Республики Узбекистан, дает представление о территориальном делении Узбекистана. Информация приведена по состоянию на 1 января 2019г. Численность населения областных центров приведено по данным Википедии на указанный год. Численность населения областей приведено по данным госкомстата Руз на 01.04.20 </p>
            <p class="gray_text desc_p">Источник: Карта Golden Pages, 2019г. Подготовлена, составлена и отпечатана Государственным научно-производственным предприятием "Картография" в 2009 г. Исправлена в 2019г.</p>
          </div>
          <div class="column-td gap-20 mt-30">
            <h3 class="text-center">Карта административно-территориального деления Республики Узбекистан</h3>
            <div class="contentCenter">
              <div class="gp_map_uzb_image">
                <img src="/desktop/img/gp_uzb_map-desktop.png" alt="map of uzbekistan">
              </div>
            </div>
          </div>
        </div>
        <!-- === MainContent ends here! === -->
        <div class="banners-aside">
          <aside class="asideRight"></aside>
        </div>
      </div>
    </div>
  </main>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
</body>
</html>